[2017-02-21 17:10] federicobond opened #1 "Meta: Project Roadmap and Ideas"
There are many useful things we could start with here:
http://www.jetbrains.org/intellij/sdk/docs/tutorials/custom_language_support_tutorial.html

In no particular order:
 * [ ] Implement Formatter (code auto-formatting)
 * [ ] Implement Annotators (see [here](https://github.com/duaraghav8/Solium/issues/44) for ideas)
 * [ ] Implement Line Marker providers for usage and definitions of methods and

[2017-03-08 14:14] LogvinovLeon opened #2 "Meta: Formatting fixes"
- [ ] Structs indentation
- [ ] Comments indentation
- [ ] Rearranging contract parts
- [ ] Single line if indentation

[2017-03-08 16:15] LogvinovLeon opened #3 "Meta: Implement autocomplete"
- [x] Keyword-based
- [ ] Identifier-based
- [ ] Context-based
- [ ] Type-based

[2017-03-10 09:42] adridadou opened #4 "multiple values return is marked as an error"
If I return more than one value, for ex: return (1, 23, 5) and the return type is returns (uint, uint, uint),
It marks it as illegal. It looks like the plugin doesn't recognize multiple values return statement as valid

[2017-03-10 12:45] SerCeMan commented on #4
Hey, @adridadou! It has already been fixed but hasn't been released yet.

https://github.com/intellij-solidity/intellij-solidity/commit/6373562886dea7fb524739a1ed072e846db4ccbc

[2017-03-10 12:45] adridadou commented on #4
Oh ok sorry. I only tried the released version :) When is the next release?

[2017-03-10 12:45] #4 closed

[2017-03-10 12:48] SerCeMan commented on #4
We'll release it some day next week. Can't say for sure, it depends on how long the approval will take :)

[2017-03-21 09:23] SerCeMan commented on #4
Hey, @adridadou!

The new version has finally been approved. This time it took longer than I expected. Please check that your problem is fixed and feel free to reopen the issue if it's not.

[2017-03-27 22:15] bshevchenko opened #5 "Bug: invalid code reformatting"
For instance I have code:
---
![2017-03-28 1 19 28](https://cloud.githubusercontent.com/assets/1531049/24380577/c235e95a-1354-11e7-803a-fa6fbff92518.png)

When I use Code Reformat with intellij-solidity plugin I get:
---
![2017-03-28 1 20 06](https://cloud.githubusercontent.com/assets/1531049/24380587/cc6591dc-1354-11e7-8a17-68626ac863e2.png)

Bugs
---
1. Excess empty string before imports
2. Exce

[2017-03-27 22:24] bshevchenko opened #6 "Bug: invalid identifier expected inspection"
![2017-03-28 1 23 15](https://cloud.githubusercontent.com/assets/1531049/24380660/319db890-1355-11e7-8f6e-a1841a3fb538.png)

Underlined by the red wavy line

[2017-03-28 14:41] SerCeMan commented on #6
Hey, @bshevchenko!

Thank you for the issue. It's fixed on master now. I'm going to cut the release tomorrow, but the approval can take up to a week. In the meantime, you can build the plugin from sources and check if the issue is resolved.

Feel free to reopen the issue if the problem hasn't been fixed :)

[2017-03-28 14:41] #6 closed

[2017-03-28 14:51] bshevchenko commented on #6
@SerCeMan thanks a lot! :)

[2017-03-29 12:34] banciur opened #7 "Plugin reports not existing errors"
Hi,
So I'm new to solidity and using your plugin just to browse but it reports errors in code that I know is correct.
Attaching screen-shots:
![sol_plugin_error_1](https://cloud.githubusercontent.com/assets/5120930/24454569/9fb2f268-148c-11e7-80fb-59980f130348.png)

![sol_plugin_error_2](https://cloud.githubusercontent.com/assets/5120930/24454570/9fb371fc-148c-11e7-9791-7f167a2058d0.png)

[2017-03-29 13:20] SerCeMan commented on #7
Hey, @banciur!

Thanks for your report! The first problem was fixed on master. The second one is harder, I put a temporary fix, but `assembly` grammar requires more thoughtful approach.

I'm going to cut the release today, but the approval can take up to a week. In the meantime, you can build the plugin from sources and check if the issue is resolved.

Feel free to reopen the issue it hasn't been

[2017-03-29 13:20] #7 closed

[2017-03-29 13:43] banciur commented on #7
Awesome,
Thank man that was fast.

[2017-06-13 22:11] IAMtheIAM opened #8 "Make it possible to customize the syntax highlighting in the settings"
Great plugin. How do we get intellij to turn on the Syntax Highlighting?

![solidity_intellij_2017-06-13_1508](https://user-images.githubusercontent.com/13709948/27106884-2e2bf816-504a-11e7-8026-fe2852b6bfa5.png)

Also, it would be great to be able to customize the syntax highlighting in the Settings > Editor > Colors & Fonts menu
![solitidy_customize_2017-06-13_1509](https://user-images.githubuse

[2017-06-14 01:25] SerCeMan commented on #8
Hi, @IAMtheIAM!

That functionality isn't implemented currently.

[2017-06-14 01:46] SerCeMan commented on #8
Hi, @IAMtheIAM!

Please ignore the previous answer, I misunderstood you.

It turned on, I think your theme has the same colour for different elements. Can you enable the `darkula` theme temporarily to check if the theme is the problem?

That functionality is not implemented yet.

[2017-06-14 20:16] IAMtheIAM commented on #8
Hi. I deleted custom theme plugin, restarted, enable Darcula theme - looks same as my original screenshot. if I use IntelliJ default theme, look like this:

![solid_2017-06-14_1316](https://user-images.githubusercontent.com/13709948/27152730-ac949212-5103-11e7-8fa1-d815f56b1235.png)

Hmm, still no syntax highlighting expect for `keywords`

[2017-06-14 20:17] IAMtheIAM commented on #8
I was using Intellij 2016.2 - Now Using 2017.1 with same results.

[2017-06-16 12:22] dzarezenko commented on #8
@IAMtheIAM , looks like I see what you mean. The reason is grammar, a lot of lexems detects like __keyword__ in terms of IDEA and local variables and parameters detects all like local variables. Contract name is not detects like class name etc.

I hope this will be changed in future, as I used sublime before and migrate to IDEA. I hope it will be possibility to set the same colors in future.

[2017-06-26 16:06] jamesdwilson commented on #3
I can't wait for this! Full autocomplete will be killer.

[2017-06-29 15:37] mkoistinen opened #9 "byte32 et al (not a valid type) highlights, but bytes32 et al (a valid type) does not"
Title says it all.

[2017-06-29 15:58] SerCeMan commented on #9
Hi, @mkoistinen!

Can you provide an example just to make sure that I understood you correctly

[2017-06-29 20:48] mkoistinen commented on #9
Sure!
![image](https://user-images.githubusercontent.com/615759/27709628-ca21c94c-5cea-11e7-9a5d-f8021acc57b3.png)

[2017-06-29 23:14] SerCeMan commented on #9
I'm not sure if that the best possible implementation, but currently it works as expected.
**byte32** is a primitive type whereas **bytes32** is an array. Probably, it would make sense to make it the same colour as contract references.

[2017-07-09 04:57] kevupton opened #10 "Example Project Request"
I havent used much of intellij so I am not too familiar with the project setup,

Just wondering if someone could create an example github project while using this plugin, so I can see they way it is done :)

[2017-07-09 08:27] SerCeMan commented on #10
Hi, @kevupton!

Intellij solidity is a plugin for the [solidity.readthedocs.io](Solidity) language. It doesn't provide any framework for developing with it. You are, probably, interested in a project providing an easy way to develop apps on solidity.

I'd recommend you to check out:
1) Solidity docs: solidity.readthedocs.io
2) https://github.com/web3j/web3j and relevant examples, JVM
3) https://gi

[2017-07-09 08:28] #10 closed

[2017-07-09 08:29] SerCeMan commented on #9
Feel free to reopen the issue if you have any questions.

[2017-07-09 08:29] #9 closed

[2017-07-10 12:46] SerCeMan opened #11 "Weird exception gets thrown during editing"
[code]

[2017-07-20 03:09] br4nd0n opened #12 "Can't open any .sol files for editing if I'm using the intellij-solidity plugin."
I'm using Intellij 14.1.4, and if I use the plugin, I can't open ANY .sol files, the editor just throws exceptions.  The files I'm trying to open are just from the truffle init examples (metacoin, etc)

Exception:

com.intellij.lang.parser.GeneratedParserUtilBase.enter_section_(Lcom/intellij/lang/PsiBuilder;II)Lcom/intellij/lang/PsiBuilder$Marker;
java.lang.NoSuchMethodError: com.intellij.lang.par

[2017-07-20 03:56] SerCeMan commented on #12
Hi, @br4nd0n!

Sorry for that problem, it looks like IntelliJ's 14.1 API is too old. I'll try to figure out which version added this method and I'll update the minimal version requirement accordingly.

There are ways to make the plugin work on older versions, e.g. I found a similar issue https://github.com/KronicDeth/intellij-elixir/issues/402 with the elixir plugin, but it might make maintenance

[2017-07-25 13:54] #12 closed

[2017-08-02 13:43] dukei opened #13 "Scientific notation"
Please add support for scientific notation:
`uint constant CAP = 14e6; //14000000`

Solidity supports it

[2017-08-04 20:08] anistark opened #14 "Exception in plugin"
## Comments

[code]

## Details:

[code]

[2017-08-05 05:38] SerCeMan commented on #14
Hi, @anistark!

Can you provide more information? Which JetBrains IDE and what version do you use?

[2017-08-05 05:51] SerCeMan commented on #13
Hi, @dukei!

Thank you for the report. Before fixing the issue, let me ask you if you are interested in contributing to the plugin? If yes, I can guide you through the process and the issue you reported is a perfect point to start.

[2017-08-05 06:11] dukei commented on #13
Yes, I would like to contribute. And would appreciate if you guide me.

[2017-08-05 08:21] SerCeMan commented on #13
That's great!

Here I described the process for this particular issue, feel free to contact me using `sergeicelov@gmail.com` or any messenger app.

First of all, you'll need to set up an IDE - IntelliJ Community should be enough, you will also need one plugin installed - https://github.com/JetBrains/Grammar-Kit. Then just open the project in IDE.

The build system is gradle, there are few essentia

[2017-08-06 05:39] anistark commented on #14
IntelIJ IDEA 15

[2017-08-07 11:02] SerCeMan commented on #13
@dukei Feel free to send me a message if you need help with it.

[2017-08-07 11:10] SerCeMan commented on #14
@anistark Thank you again for the report. Maintaining old versions can be a huge burden, so I updated the minimal version requirement to IntelliJ 2016.3.

[2017-08-07 11:10] #14 closed

[2017-08-07 13:21] dukei commented on #13
Can I reach you via any messenger?
How can I run me.serce.solidity.lang.core.SolidityCompleteCustomParsingTest#testLiterals ?

[2017-08-07 13:29] SerCeMan commented on #13
@dukei yep, my email is `sergeicelov@gmail.com`, skype: `gapro.`, telegram, vk and fb is also 👌 .
Another option is gitter: https://gitter.im/intellij-solidity/intellij-solidity

You send me an email and we'll share accounts there

The easiest way is to run it from IDE:
![screen shot 2017-08-07 at 11 28 26 pm](https://user-images.githubusercontent.com/1780970/29028594-2b972ca2-7bc8-11e7-86c3-db8e7

[2017-08-07 13:32] SerCeMan commented on #13
It is also possible with `gradle` only:
[code]

[2017-08-07 15:46] dukei commented on #13
https://github.com/intellij-solidity/intellij-solidity/commit/3f05e03f8a52672d31259e43fed93ae19bee230c

[2017-08-07 15:46] #13 closed

[2017-08-13 10:52] #11 closed

[2017-08-14 22:34] eepstein opened #17 "New -> Smart contract causes out-of-memory error"
Just installed the latest version of this plugin into the latest IntelliJ release and after trying the New File > Smart Contract from the context menu, the system seemed to hang and then eventually showed an out-of-memory error panel.  My first as a 5+ yr user of IntelliJ on Mac.

[2017-08-14 23:20] SerCeMan commented on #17
Hi, @eepstein!

Thank you for the report. Can you take a memory-dump so that I can investigate?

[2017-08-15 03:34] brawaga commented on #8
@SerCeMan, BTW, how to turn on syntax highlighting? Seems it does not automatically associate .sol files with the extensions, but even if I right click the file and select ‘Mark as Solidity’ in the context menu, it remains in default colors and even keywords aren't highlighted. I tried to reinstall the extension and some older versions too, nothing changes. Hence it does not allow debug, and witho

[2017-08-15 04:06] SerCeMan commented on #8
@brawaga Hi! The issue title is misleading, the plugin associates `*.sol` files automatically. It might not work for you if you've previously tried to associate `*.sol` with something else. You can change that or add an association manually in the IntelliJ settings (`Editor->File Types->Solidity`).

[2017-08-15 18:42] eepstein commented on #17
Thanks @SerCeMan !

I was one version behind on IntelliJ and in an existing project.  I've now updated IntelliJ and also started a fresh project and the plugin creates the file and returns immediately.

CAN'T REPRODUCE.  So will close this ticket.

(If it does recur I'll re-open.)

[2017-08-15 18:42] #17 closed

[2017-08-22 09:13] brawaga commented on #8
Now works fabulously. Guess all problems went from lack of RAM, I was running some heavy software in parallel, that's why the plugin broke down. After freeing and webStorm restart all started to work fine.

[2017-09-03 23:46] apetersson opened #18 "support for scientific number notation"
good code is red:

uint256 pointMultiplier2 = 10e18;

see also https://solidity.readthedocs.io/en/develop/types.html?highlight=scientific

[2017-09-04 00:11] SerCeMan commented on #18
Hi, @apetersson!

Thank you for the report. The problem has already been fixed, https://github.com/intellij-solidity/intellij-solidity/pull/15. The new plugin version will be released once it is approved, https://plugins.jetbrains.com/plugin/9475-intellij-solidity/update/38365.

[2017-09-04 00:21] apetersson commented on #18
good to know, just didn't see it on the open issues. patiently awaiting the update then ;)

[2017-09-04 00:21] #18 closed

[2017-09-04 14:51] hvarakhobava opened #19 "Add inner block indentation"
Please add caret shift after hitting enter to start child block. Now the caret is indented at the same position as a parent block. I have to press Tab every time I start to write a new inner block.

For example:
[code]
Expected:
[code]

[2017-09-16 11:30] SerCeMan commented on #19
Hey, @hvarakhobava!

Thank you for the report. The feature is implemented now, https://github.com/intellij-solidity/intellij-solidity/commit/56dfb2dffc7cd68e79f5954baee3f860ddfbe076#diff-31f93a2874e6408e22740a33be422175.

[2017-09-16 11:30] #19 closed

[2017-09-16 11:37] SerCeMan commented on #19
@hvarakhobava

On the same topic, contributions are always welcome! And adding a few more tests with cases that are important for your is a great way to start!

Please reach out to me if you decide to help and you need any guidance with the setup/running/code/etc...

[2017-09-16 11:37] SerCeMan commented on #3
Closing as obsolete

[2017-09-16 11:37] #3 closed

[2017-09-16 11:38] SerCeMan commented on #2
Closing as obsolete

[2017-09-16 11:38] #2 closed

[2017-09-16 11:38] SerCeMan commented on #1
Closing as obsolete

[2017-09-16 11:38] #1 closed

[2017-09-17 02:40] SerCeMan commented on #8
The colour scheme panel has been implemented. I'm closing this issue now; please open a new one if needed.

[2017-09-17 02:40] #8 closed

[2017-09-18 11:03] hvarakhobava commented on #19
@SerCeMan , thank you so much for the implementation!

[2017-09-19 13:53] dzarezenko opened #21 "Separate types from keywords"
Hi, I am using this plugin and it's very usefull for me, but I want to ask you for some modifications.

1. Looks like now, we can configure `Keyword` section Color Scheme, but in sublime I see that variable `Types` are highlighted with separate color.

2. And I have also noticed, that when we set color for `Contract reference` we highlight only inherited contracts names, but not a contract name af

[2017-09-21 21:44] decanus opened #22 ""bytes" type is not highlighted"
The various byte types do not seem to be recognised.

[2017-09-22 01:12] SerCeMan commented on #22
Hi, @decanus!

Thank you for the report. Please attach a sample of code and a screenshot that demonstrates the problem.

[2017-09-22 04:19] decanus commented on #22
![image](https://user-images.githubusercontent.com/7621705/30729165-d6ea74ac-9f5d-11e7-9a8b-3cfa7643440c.png)

Notice how there is no highlighting for bytes. However there is highlighting for byte32 and other byte types with length specification

[2017-09-24 21:28] androlo opened #23 "experimental pragmas causing issues"
Plugin version `2.0.2`

These pragmas are not being parsed properly:

[code]

They are needed to run the latest stuff (you can't remove citation marks around "v0.5.0" or it will throw and complain about stray arguments). Both of those will report errors in the IDE.

[2017-09-24 22:07] androlo commented on #23
Seems `ABIEncoderV2` can be enclosed in double quotes, but removing them from `v0.5.0` will not work.

[2017-10-13 06:25] onetom opened #24 "Auto-format should follow Solidity Style Guide by default"
http://solidity.readthedocs.io/en/develop/style-guide.html

While this document itself acknowledges:

I think it would make sense to follow some of the recommendations there,
primarily the function declarations with multi-line arguments and / or modifiers.

If we can agree it's a good idea, then we should create individual issues for the various formatting rules.

[2017-10-13 10:21] SerCeMan commented on #24
Hi, @onetom!

I agree, there is a line in source code, https://github.com/intellij-solidity/intellij-solidity/blob/master/src/main/kotlin/me/serce/solidity/ide/formatting/SolidityFormattingModelBuilder.kt#L18. And there is an issue https://github.com/intellij-solidity/intellij-solidity/issues/5.

I won't have enough time to help with formatting soon, but I'm happy to guide through the source code

[2017-10-15 11:16] SerCeMan commented on #23
Hey, @androlo!

Thank you for the report! The issue with quotes has been fixed.

[2017-10-15 11:16] #23 closed

[2017-10-25 10:28] onetom opened #27 "Refactoring throws "Check failed" exception"
## Reproduce

[code]

Select the `01-fiat-token/chain/contracts/Lab.sol` file in the Project view and press Cmd-F6.
Change `Lab` to `AssetGatewayToken`, press OK, then press "Do Refactor" in the opening tool window.

The refactoring operations fails with this exception:
[code]

IntelliJ Solidity plugin: v2.0.2

IntelliJ IDEA 2017.2.5
Build #IU-172.4343.14, built on September 26, 2017
Licensed to T

[2017-10-26 11:57] SerCeMan commented on #27
Hi, @onetom!

Thank you for the report. The fix is on `master`. Please note that in the current implementation renaming file does not imply renaming any of the contracts placed inside.

[2017-10-26 11:57] #27 closed

[2017-10-29 00:23] #22 closed

[2017-11-01 11:48] decanus opened #29 "Pure and Views"
Should we not add syntax highlight for pure and view? the same way we have it for constant?

[2017-11-01 12:24] SerCeMan commented on #29
Hi, @decanus!

The highlighting was added recently by in https://github.com/intellij-solidity/intellij-solidity/pull/28, but the new version hasn't been released yet.

[2017-11-01 12:51] #29 closed

[2017-11-09 11:11] credfeto opened #30 "Throws exception"
Sometimes throws an exception while editing:

bytes32
 parent=bytes32[]
java.lang.Throwable
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:132)
	at com.intellij.psi.impl.PsiElementBase.notNullChild(PsiElementBase.java:285)
	at me.serce.solidity.lang.psi.impl.SolArrayTypeNameImpl.getTypeName(SolArrayTypeNameImpl.java:49)
	at me.serce.solidity.lang.types.InferenceKt.getSolType(inferenc

[2017-11-19 13:24] mbrennan opened #31 "Not working in PyCharm CE?"
Hello,

I have PyCharm CE and installed the latest version of the plugin.  However, when I create a new file, I don't see any option to associate my .sol file with the plugin.  How can I get PyCharm CE to recognize .sol files?

[2017-11-19 23:22] SerCeMan commented on #31
Hi, @mbrennan!

I just tried and I was able to install the plugin without any problem. Is it possible that you had created `.sol` association with some other editor before installing the plugin? If so, you might need to create the association manually:

![screen shot 2017-11-20 at 10 22 22 am](https://user-images.githubusercontent.com/1780970/32996869-bd48b1dc-cddc-11e7-8e29-064e41eddc1d.png)

[2017-11-29 10:35] SerCeMan commented on #31
@mbrennan Please reopen the issue if you're still experiencing the problem

[2017-11-29 10:35] #31 closed

[2017-11-29 23:23] SerCeMan commented on #5
Hi, @bshevchenko!

As far as I can see all the problems you mentioned have been fixed by the https://github.com/intellij-solidity/intellij-solidity/pull/32. Please open a new issue for other formatting problems :)

[2017-11-29 23:23] #5 closed

[2017-12-21 21:51] ZitRos opened #35 "Syntax Error"
Hello! Thanks for an awesome plugin for Intellij!

I've found one syntax problem. While this code is valid and compiles well, it shows an error:

![2017-12-21_234728](https://user-images.githubusercontent.com/4989256/34276302-7880e836-e6a9-11e7-9fae-363a0b0574df.png)

I will be happy to help if you don't mind, just point me to a piece of source code to look at or DIY :) Thanks!

[2017-12-22 00:49] SerCeMan commented on #35
Hi, @ZitRos!

The problem is related to [the bnf grammar](https://github.com/intellij-solidity/intellij-solidity/blob/master/src/main/grammars/solidity.bnf) which is used to generate the parser.

You can work on this grammar using the  [Grammar-Kit](https://github.com/JetBrains/Grammar-Kit) plugin. The first step might be to reproduce the problem. You can use "Live Preview" for that. Another tip i

[2017-12-22 00:52] ZitRos commented on #35
Thanks @SerCeMan for such detailed reply, I appreciate it! I will definitely take a look at this on the weekend. Have a good weekend to! :)

[2017-12-25 09:12] #35 closed

[2018-01-01 11:25] 0v1se opened #37 "Constructor is not renamed on contract rename"

[2018-01-08 14:32] ghjan opened #39 "2.0.3 is not campatible with pycharm 2016.1.4"
2.0.3 is not campatible with pycharm 2016.1.4

[2018-01-13 05:04] SerCeMan commented on #39
Hi, @ghjan!

Thank you for the report. IntelliJ Solidity only supports versions >= 2016.3. See https://github.com/intellij-solidity/intellij-solidity/issues/14

[2018-01-13 05:04] #39 closed

[2018-01-13 05:04] SerCeMan commented on #37
Closing the issue as you have fixed it :)

[2018-01-13 05:04] #37 closed

[2018-01-13 19:05] matrozov opened #41 "Exception: Sequence contains no element matching the predicate."
I regular receive error message:

Sequence contains no element matching the predicate.
java.util.NoSuchElementException: Sequence contains no element matching the predicate.
	at me.serce.solidity.lang.resolve.ref.SolFunctionCallReference.multiResolve(SolUserDefinedTypeNameReference.kt:69)
	at me.serce.solidity.lang.resolve.ref.SolReferenceBase$multiResolve$1.resolve(SolReferenceBase.kt:21)
	at me.

[2018-01-14 00:54] SerCeMan commented on #41
Hi, @matrozov! Thank you for the report! This should be fixed by https://github.com/intellij-solidity/intellij-solidity/commit/a8a871cea44f7e2dac13259b95d151ea07f2c285.

[2018-01-14 00:54] #41 closed

[2018-01-15 22:20] SerCeMan opened #43 "StackOverflowError, SolResolver.resolveTypeNameUsingImports(engine.kt:25)"
https://sentry.io/intellij-solidity/intellij-solidity/issues/434366046/

[code]

[2018-01-17 22:38] SerCeMan opened #44 "SolResolver#resolveFunRec: IndexOutOfBoundsException: Index: 0, Size: 0"
https://sentry.io/intellij-solidity/intellij-solidity/issues/435793732/

[code]

[2018-01-19 10:11] SerCeMan opened #45 "NoSuchElementException: SolFunctionCallReference#multiResolve:69"
https://sentry.io/intellij-solidity/intellij-solidity/issues/435961629/

[code]

[2018-01-20 05:36] #44 closed

[2018-01-20 05:39] SerCeMan commented on #43
`SolResolver.resolveTypeNameUsingImports` doesn't exist in the project

[2018-01-20 05:39] #43 closed

[2018-01-21 00:26] SerCeMan opened #46 "KotlinNullPointerException: SolFunctionDefMixin.getParameters(mixins.kt:76)"
https://sentry.io/intellij-solidity/intellij-solidity/issues/437515740/

[code]

[2018-01-21 00:28] #46 closed

[2018-01-31 10:23] SerCeMan opened #48 "KNPE: SolFunctionDefMixin#getParameters"
https://sentry.io/intellij-solidity/intellij-solidity/issues/443091738/

[code]

[2018-01-31 10:27] SerCeMan commented on #48
duplicate of #46

[2018-01-31 10:27] #48 closed

[2018-02-05 12:53] danellis opened #49 "Unable to set indentation size"
In Editor -> Code Style -> Solidity, change the indent size has no effect (it's stuck at 2). Changing the number there doesn't register as a change (i.e. "Apply" isn't enabled, and the section isn't highlighted in the prefs navigation).

[2018-02-23 17:28] RioVic opened #51 "Code Generation?"
Is there a mechanism in this plugin to generate code from the Abstract Syntax Tree created by the parser?

[2018-02-26 12:13] SerCeMan opened #52 "NoSuchElementException: SolArgumentsDescription$Companion.findDescription"
https://sentry.io/intellij-solidity/intellij-solidity/issues/464608977/

[code]

[2018-02-26 12:21] SerCeMan commented on #51
Hi, @RioVic!

No, there is nothing like this at the moment, but you're always welcome to hack on this. Although, I'm sure that using something will `web3j` can be easier.

[2018-02-28 08:49] SerCeMan opened #53 "MissingResourceException: Can't find bundle for base name messages.QuickFixBundle, locale en_US"
https://sentry.io/intellij-solidity/intellij-solidity/issues/474964113/

[code]

[2018-02-28 23:52] SerCeMan commented on #53
![screen shot 2018-03-01 at 10 50 58 am](https://user-images.githubusercontent.com/1780970/36819700-9034f19a-1d3e-11e8-8736-4f2b3689e843.png)

[2018-02-28 23:53] SerCeMan commented on #53
Hey, @0v1se! Do you have an idea why this might be happening? I'm going to take a look on the next weekend, but if you have any idea, it might be helpful.

[2018-03-01 07:58] 0v1se commented on #53
hey @SerCeMan currently I don't
I'll get back if I find anything

[2018-03-03 05:49] 0v1se commented on #53
@SerCeMan possibly it's related to messages I used for "Import" fix. I used IDEA's messages and they can be unavailable for some Intellij installations. (not sure about this)
We can add plugin's own message bundle I think (though I don't know yet how to add message bundles and won't have time this weekend)

[2018-03-03 06:05] SerCeMan commented on #53
@0v1se No worries, I think we can make it bullet-proof by just hardcoding messages.

[2018-03-04 00:34] #52 closed

[2018-03-12 01:45] godmonth opened #55 "emit is not keyword, and compiles error when appeared."
as topic

[2018-03-12 03:06] SerCeMan commented on #55
Hi, @godmonth!

[2018-03-13 07:33] godmonth commented on #55
![image](https://user-images.githubusercontent.com/757024/37328094-cbf56e46-26d3-11e8-9138-afb9cafcebd6.png)

[2018-03-13 09:59] #55 closed

[2018-03-13 10:00] SerCeMan commented on #55
@godmonth, Thanks for the report, support for `emit` is added in https://github.com/intellij-solidity/intellij-solidity/commit/70c96b9f6e46d1b25c00ff3e7dc7ad7085258822

[2018-03-14 20:04] morozovsk commented on #53
I have the same problem "Can't find bundle for base name messages.QuickFixBundle, locale ru_RU" but only in pycharm community.
In phpstorm this plugin works without problem.

[2018-03-30 01:09] samczsun opened #58 "Crazy CPU Usage"
I have a ~1000 line solidity file, and as soon as I open it IntelliJ CPU usage shoots up to 50-90% overall, and stays there. When I close the file CPU usage drops to acceptable (1-5%) amounts.

Is this just what happens with large files, or could there be a bug somewhere?

I'll be able to share the source code in a few days if that matters.

[2018-04-01 15:31] etherwaifu opened #59 "emit keyword not supported"
Since Solidity 0.4.21, `emit` keyword is recommended to be used before emitting events
https://github.com/ethereum/solidity/releases/tag/v0.4.21

For example

`emit TokenCreated(tokenId);`

In the current version of the plugin, it will be a syntax error.

[2018-04-02 13:45] SerCeMan commented on #59
Hey, @etherwaifu!

This was fixed in https://github.com/intellij-solidity/intellij-solidity/commit/70c96b9f6e46d1b25c00ff3e7dc7ad7085258822

[2018-04-02 13:45] #59 closed

[2018-04-02 16:42] kingjerod commented on #59
Can a new release be done for this?

[2018-04-03 01:12] SerCeMan commented on #59
I'm going to release a new version soon, in the meantime, you can build the plugin from the master branch, https://github.com/intellij-solidity/intellij-solidity#build

[2018-04-03 01:14] SerCeMan commented on #58
Yes, an example of the problematic code might be really helpful.

[2018-04-03 10:19] 0v1se opened #61 "pragma experimental ABIEncoderV2; is highlighted as error"
In 0.4.19 new abi encoder was introduced
"pragma experimental ABIEncoderV2;" should be inserted to enable this encoder.

Currently it's highlighted as error and error highlighting in the whole file is broken.

[2018-04-03 11:25] #53 closed

[2018-04-03 14:48] mbolotov opened #62 "Gradle build fails to compile ui forms with a kotlin backend class"
It seems gradle build can't process a GUI form using a kotlin class.
It works okay with a java class.

To reproduce:
Run `gradle buildPlugin`
Output:

[ant:instrumentIdeaExtensions] /Users/mbolotov/work/intellij-solidity/src/main/kotlin/me/serce/solidity/ide/run/SolidityConfigurableEditor.form: Class to bind does not exist: me.serce.solidity.ide.run.ui.SolidityConfigurableEditorPanel
[ant:instrume

[2018-04-03 14:54] mbolotov opened #63 "solidity plugin installed into a non java IDE throws an exception on creating a run configuration"
A non java IDE does not provide `CommonJavaRunConfigurationParameters` class required by the run configuration functionality

To reproduce (I used PyCharm):
Call context menu on a solidity function element.

IDE shows an exception thrown:

java.lang.NoClassDefFoundError: com/intellij/execution/CommonJavaRunConfigurationParameters
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.

[2018-04-04 02:15] samczsun commented on #58
Here's a [gist](https://gist.github.com/samczsun/9db715b4c8aa74795814e89a8715f91c) of the code.

About my IntelliJ
[code]

[2018-04-05 04:24] k-misztal opened #64 "Import file hint doesn't work as expected"
Import file hint pops up even though a file is properly imported. The problem occurs when I use multiple inheritances and I define a structure in the root contract. For instance:

[code]

[code]

[code]

In contract `C` `MyStruct` is correctly imported. Even though plugin prompts me to import `A` contract. Moreover, even if I do that, it keeps prompting me about that.

[2018-04-05 06:16] 0v1se commented on #64
Thanks. I will take a look

[2018-04-07 08:58] SerCeMan commented on #62
Hey, @mbolotov!

Are you sure about this? The plugin seems to be successfully compiling on CI

[2018-04-07 09:28] mbolotov commented on #62
I saw it on a mac machine and it indeed compiled successfully showing the warnings only.
But the problem was that there were no form files compiled actually and the plugin failed to open the settings page.
But anyway I need to double check this. On a windows machine it looks good now.

[2018-04-07 11:47] #63 closed

[2018-04-09 14:40] mbolotov commented on #62
Just found the reason - it fails on a gradle v.4+
The same problem here: https://github.com/Microsoft/azure-tools-for-java/issues/663
It references to gradle-intellij plugin bug report: https://github.com/JetBrains/gradle-intellij-plugin/issues/203

I was able to successfully build solidity plugin on my mac using the gradle wrapper

[2018-04-09 20:04] 0v1se commented on #64
@SerCeMan, SolContractOrLibMixin.collectSupers should find all supers for contract?

Currently it doesn't find A as super contract for C (from provided source code)
Is it a bug in collectSupers? Or should we implement new method for this?

[2018-04-12 06:39] 0v1se commented on #58
@samczsun could you try snapshot version of the plugin?
Just build it from the source and install in IDEA

[2018-04-12 06:59] steffel-monaco commented on #49
By default the value is 4 I changed to 2 but It's not changing the preview and I can't click the apply button.

<img width="1074" alt="screen shot 2018-04-12 at 2 56 20 pm" src="https://user-images.githubusercontent.com/38199889/38661036-01091948-3e62-11e8-9302-46d71dcd978b.png">

[2018-04-13 00:18] samczsun commented on #58
Installed 2.0.6-SNAPSHOT, still killing the CPU

[2018-04-14 17:00] rossng opened #68 "Accept new constructor() syntax"
The nightly versions of the Solidity compiler now use the `constructor(args)` instead of `function ContractName(args)` syntax. I tried to add this in intellij-solidity myself but I don't have enough time to get my head around how the parser generators work.

[2018-04-16 13:26] SerCeMan commented on #58
Hey, @samczsun!

It would be a great help if you could follow these instructions to create a CPU snapshot, https://intellij-support.jetbrains.com/hc/en-us/articles/207241235-Reporting-performance-problems and attach it to this ticket.

[2018-04-16 13:30] SerCeMan commented on #68
I believe that this can be fixed by updating the grammar, some instructions can be found here: https://github.com/intellij-solidity/intellij-solidity/issues/13#issuecomment-320428416. I tried to find some docs on this, but it seems that even [grammar.txt](https://github.com/ethereum/solidity/blob/develop/docs/grammar.txt) in the solidity repo is not updated yet.

[2018-04-16 13:41] #61 closed

[2018-04-16 13:42] SerCeMan commented on #61
Hey, @0v1se! I updated lexer, this should be fixed now.

[2018-04-16 13:44] SerCeMan commented on #51
Hey, @RioVic! I hope the question is answered, so I'm closing the ticket. There is also an open PR, https://github.com/intellij-solidity/intellij-solidity/pull/66 now.

[2018-04-16 13:44] #51 closed

[2018-04-16 13:46] SerCeMan commented on #64
Hey, @0v1se. I believe it's a bug in `collectSupers`

[2018-04-16 13:49] SerCeMan commented on #49
Hey, @steffel-monaco, @danellis! Please make sure that this is not a problem with the selected scheme, I can't reproduce it.

[2018-04-16 14:28] 0v1se commented on #64
@SerCeMan ok, I'll fix it in some days if you don't ming

[2018-04-16 15:18] samczsun commented on #58
Sounds good. Will do so when I have some more time this week

[2018-04-17 16:00] jelanijohn commented on #49
I'm also having this problem. On Ubuntu 16.0.4. using the default scheme. I try to hit apply in these settings but when i open up the code style config again it goes back to default settings.
![example](https://user-images.githubusercontent.com/589328/38881884-e0faa706-4236-11e8-89b9-ca03cb056899.png)

[2018-04-18 12:52] ice1000 commented on #68
Let me do this.

[2018-04-18 16:52] ice1000 commented on #68
Created a pull request that supports this syntax, but related completions are not included, awaiting further development.

[2018-04-18 23:11] samczsun commented on #58
So I took a CPU snapshot and noticed that it was getting hung up on `StubIndex` and `VirtualDirectoryImpl` which reminded me that I had a directory in this project with a couple thousand generated files. I marked those directories as excluded and solidity files no longer killed my computer.

Still seems like a bug that nothing else is choking on those files but at least my IDE is usable again.

He

[2018-04-19 08:37] SerCeMan commented on #49
I reproduced the problem with the latest IntelliJ,

[2018-04-19 08:46] SerCeMan opened #70 "Exception in SolidityIdeCompiler"
[code]

[2018-04-19 08:58] ice1000 commented on #68
@SerCeMan Close this plz :stuck_out_tongue_winking_eye:

[2018-04-19 09:08] OsoianMarcel commented on #59
We are waiting for new release (emit support) 👍

[2018-04-19 09:53] #68 closed

[2018-04-19 15:08] mbolotov commented on #70
It's expected to be fixed in #66

[2018-04-21 04:13] fredfortier opened #71 "emit syntax"
Using `emit` (e.g. `emit Deposit(msg.sender, _id, msg.value);`) displays an error:

[2018-04-21 10:50] SerCeMan commented on #71
Hey, @fredfortier!

Closing this as a duplicate of https://github.com/intellij-solidity/intellij-solidity/issues/59

[2018-04-21 10:50] #71 closed

[2018-04-26 01:02] fredfortier opened #74 "Error Building"
Here is what I get when building on MacOS X.

[code]

I tried upgrading the JDK, changing JAVA_HOME, etc.

[2018-04-26 01:04] SerCeMan commented on #74
Hey, @fredfortier!

It looks like you're building with JDK 10, it seems like this version of the gradle plugin doesn't support it. Try building with JDK 8/9.

[2018-04-26 10:29] mbolotov commented on #74
Hey, guys!

JDK 9 will fail as well, see this
https://discuss.gradle.org/t/could-not-determine-java-version-from-9-0-1/24457

I also tried it by myself:

Could not determine java version from '9.0.1'.

[2018-04-26 12:51] #70 closed

[2018-04-26 12:53] #49 closed

[2018-04-28 05:01] #64 closed

[2018-04-28 06:55] SerCeMan commented on #74
Hey, @fredfortier! I updated gradle to 4.7 which should support JDK10 in https://github.com/intellij-solidity/intellij-solidity/commit/d4a67d2f570a853320db5d64dbbbdf2392ee1d79.

Although, it's not tested and I can't guarantee that it works properly, so I recommend using JDK8 for this project.

[2018-04-28 06:55] #74 closed

[2018-05-02 10:43] SerCeMan opened #76 "ArrayIndexOutOfBoundsException in RunConfigurationProducer"
https://sentry.io/intellij-solidity/intellij-solidity-n/issues/540796423/

[code]

[2018-05-05 09:42] SerCeMan commented on #76
Hey, @mbolotov! No, but I sent you an invite to Sentry, the exception has some metadata, e.g. it only seems to be happening on WebStorm.

[2018-05-09 11:41] #76 closed

[2018-05-12 02:14] michaeljohnbennett opened #81 "Using new constructor and emit methods causes formatting and linters to break."
Hi there,

I know this is a little this plugins issue and also the solhinter.

But generally some of the new features in 0.4.23 Solc compiler don't format well in the plugin or at all.

`constructor() public {...}`

Causes all methods afterwards to not flow correctly or just lose all indents when pasting.

How easy would it be to resolve this and other things like

`emit SomeEvent(...);`

I'm usin

[2018-05-13 13:41] SerCeMan commented on #81
Hey, @michaeljohnbennett!

Thank you for the report. Can you specify every problem as 2 blocks of code: 1 - this is how I expect it to be. 2 - this is how it's currently formatted? This will help to understand the issue better.

[2018-05-14 03:03] michaeljohnbennett commented on #81
ok I would expect a new format file to look like:

[code]

now what happens if you paste that into a new window (or just cut and repaste it):

[code]

Everything goes flat.

I do see this error near the constructor arg which is where I think its blowing up.
`
<expression>, <number type>, <type name>, Identifier, contract, enum, event, function, import, interface, library, modifier, pragma, struct,

[2018-05-14 03:18] michaeljohnbennett commented on #81
I updated to 2.1.0 and it seems to have resolved the problem, intellij never notified me there was an update to the plugin like it does normally.

I get the flow working now. But not intellisense on elements or structure flow of a file. Is this something on the roadmap soon?

Thanks again and sorry for the confusion on plugin versions.

[2018-05-14 14:45] SerCeMan commented on #81
I'm not sure what you mean, can you open a new issue with an example of the behaviour you want to see? Currently, autocompletion for types is provided, but not at every possible caret position.

No worries, I'll close this issue, please reopen it if the problem reoccurs.

[2018-05-14 23:58] michaeljohnbennett commented on #81
ok will do. Thanks again for writing this plugin!

[2018-05-15 00:07] michaeljohnbennett opened #82 "intellisense seems to not work for variable types in certain locations in .sol file"
Plugin Version 2.1.0
solhint: 1.10

When I'm trying to use intellisense/code completions for types etc nothing will appear in most file locations.

So for instance:

[code]

So for each location I can only see:

A:
- block,msg,now,throw,tx

B:
- same as above

C:
- selfdestruct(), this

D:
- same as C

E:
- same as A

I can't seem to see any types like uint,bool etc appearing as I type. Looking at

[2018-05-15 22:25] paymog opened #83 "Add support for constructor keyword"
The `constructor` keyword isn't supported. When it's used I get the following error on the opening brace following the keyword: `'(', <contract definition>, <expression>, import or pragma expected, got '{'`. This also breaks auto-formatting.

![image](https://user-images.githubusercontent.com/1986950/40086680-3283cd40-5854-11e8-88c7-ce74093f84da.png)

[2018-05-15 22:45] paymog commented on #83
https://solidity.readthedocs.io/en/v0.4.23/contracts.html#constructors

[2018-05-15 22:55] paymog commented on #83
Oh, looks like I'm on an older version: https://github.com/intellij-solidity/intellij-solidity/commit/19f1a253e2009af95d4823ecea6fae7b222463f7

[2018-05-15 22:56] #83 closed

[2018-05-18 19:51] Rello opened #84 "issue with emit() call"
first, thank you for the plugin!

I am using
`emit Withdrawal(gameOwner, _amount/2);`

but the code-checker is highlighting the first "(" with the error -not warning-:
`Import File expected '=', got '('`

any idea on this?

[2018-05-19 20:25] #84 closed

[2018-05-21 23:27] bongkokwei opened #85 "How to compile/execute?"
Hi all,

I'm using ver 2.1.0 and I still cannot figure out how to compile the code.

Cheers

[2018-05-22 10:58] mbolotov commented on #85
Hi @bongkokwei!

It's likely you are using an IDE without a built-in 'build project' action (like WebStorm, PhpStorm or PyCharm). Right?
I suppose they just have no the building model inside which the solidity plugin can utilize to build solidity code.

We have added a separate menu action to call the solidity compiler in such a case. The action is placed under 'Other' menu item (when no 'Build' o

[2018-05-23 09:28] DeKaiju opened #86 "Autocompletion for contract members is not implemented"
![image](https://user-images.githubusercontent.com/10413226/40415583-c8a56b8a-5ead-11e8-964b-c2827cc41ac4.png)
There is no code completion for function.
![image](https://user-images.githubusercontent.com/10413226/40415517-9c7f25c8-5ead-11e8-853c-d8a8c5a06bd3.png)
No code completion for address variable.
How to use intellij-solidity code completion ?

[2018-05-23 23:18] SerCeMan commented on #86
Hi, @XConstantine!

Autocompletion for contract members is not currently implemented.

[2018-05-26 07:18] tsycnh opened #88 "Is it possible to debug solidity in intellij IDE?"
I am currently using Pycharm as my solidity editor, is it possible to debug solidity source code just like python?

[2018-05-26 17:52] mbolotov commented on #88
Hey, @tsycnh!
Debug is not now possible for solidity code. The usual way of providing debug capability requires a complex support from the VM (runtime) side.

Also, I know that the truffle framework provides a way to debug on the history of transactions (
http://truffleframework.com/docs/getting_started/debugging )
We may look into it to see if we can support this feature directly from IDE

[2018-05-27 04:28] tsycnh commented on #88
@mbolotov thanks very much. I also did my research, there is very little solution for solidity right now, especially for IDE. I checked this http://truffleframework.com/blog/announcing-full-portable-solidity-debugger which said will support IDE debugging some time. Again thanks for the plugin.

[2018-05-27 22:25] nickjvandyke opened #89 "Build error - compiler is 0.4.19?"
Getting my dev environment set up. Attempted to compile

[code]

and I got `Error:(1, 1) /home/nick/dev/ErectorCoin/solidity/src/Solidity.sol:1:1: Error: Source file requires different compiler version (current compiler is 0.4.19+commit.c4cbbb05.Linux.g++ - note that nightly builds are considered to be strictly less than the released version`

Changing to `pragma solidity ^0.4.19;` let me compile

[2018-05-28 12:16] SerCeMan opened #90 "EvmDownloader: NoSuchElementException: Array is empty."
https://sentry.io/intellij-solidity/intellij-solidity-n/issues/565990342/

[code]

[2018-05-28 19:46] NickvanDyke commented on #89
I think it's related to installing and configuring the plugin to use ethereumj. Prior to doing so, attempting to compile a .sol file just copies it to the output directory (doesn't seem like the behavior I should be having?) But once I configure the plugin to use ethereumj, it gives me the compiler version error, and lowering the `pragma solidity` version allowing it to compile causes .abi and .bi

[2018-05-28 20:27] mbolotov commented on #89
Hey, @NickvanDyke!

This feature is in the master branch now and will be released with the next plugin version

No, there is no such a way now. I had a thought to add this settings. The problem is that such a setting would look odd in the global settings. And it's a bit harder to insert one to the project's settings.

You are right, the plugin extracts solc from the ethereumj bundle.

Well, it's a

[2018-05-29 06:27] mbolotov commented on #89
Any time I see it, I first try to ensure the compiled file is actually in place in the output directory (it's okay that message does not show the file extension)
You can try to call 'rebuild' action if you find no compiled files.
I'll try 0.4.23 as well - it might be some changes in solc behavior which breaks compiling via plugin.

Hey, @SerCeMan! Do you know when the next release will be?

[2018-05-29 07:19] jecction2017 commented on #85
i use IntelliJ IDEA 2018.1.4 (Ultimate Edition), but i cannot also figure out how to compile the code.

[2018-05-29 07:57] mbolotov commented on #85
Hey, @jecction2017

Solidity compilation in 2.10 is turned on automatically when you configure the ethereumj bundle (see solidity settings in the global preferences). The plugin will use the solc compiler packaged inside the bundle.
So when you enable ethereumj, plugin will do compile your solidity files as a part of the common (java) build process.

Please note that in the next plugin version tho

[2018-05-29 10:11] SerCeMan commented on #89
Hey, @mbolotov, @NickvanDyke!

I'm planning to release the new version somewhere this/next week, a few issues need to be fixed first.

[2018-05-29 13:53] #90 closed

[2018-05-29 19:49] mbolotov opened #92 "Solc: IllegalArgumentException: Argument for @NotNull parameter 'inputStream'"
https://sentry.io/intellij-solidity/intellij-solidity-n/issues/565521275/

[code]

[2018-05-30 07:00] 0v1se opened #93 "new Library "ethereumj" is added to every project if I enable solc to build project"
When I download EthereumJ, "ethereumj" library is added to every project. This is not an option for Java projects. Ethereumj uses outdated libraries (jackson, spring etc.) so adding this library breaks compilation almost for every my project.

Why library is added to project? Is there any other way?
Also, when I disable "Enable solc to build project" this library is added to projects anyway.

[2018-05-30 07:02] 0v1se commented on #93
closed by mistake

[2018-05-30 10:04] SerCeMan commented on #93
Hey, @0v1se! Can you give an example of how the library is added? If it gets added to the classpath then yes, we definitely need to fix this.

[2018-05-30 10:50] mbolotov commented on #93
Hey, guys!

The initial idea about adding this library was to simplify user actions for running the generated java wrappers.

There is a checkbox to control the behavior of adding ethereumj library in the solidity settings.
However, there is a bug in the code that makes impossible to disable it now :)
I will fix this and probably make this option is disabled by default.

[2018-05-30 12:29] 0v1se commented on #93
@SerCeMan Yes, it's added to the classpath now.
@mbolotov It's added even if "Generate java stubs for contracts during compilation" is turned off

[2018-06-06 15:21] 0v1se opened #96 "Explicit types are not supported for tuple assignments"
see https://github.com/ethereum/solidity/issues/3520

`(unit a, uint b, SomeStruct c) = f();`
Currently this syntax is not supported. It's highlighted as error

[2018-06-06 17:55] donfrigo opened #97 "compiling solidity code"
Hello,

Thank you for enabling code compilation for intelliJ it is a much needed feature :)
That being said, I wasn't able to run the code even though I have install ethereumj through intellij ultimate edition. Once I press run, I get a module not specified error. What could be the problem? Thanks!

[2018-06-06 20:17] mbolotov commented on #97
Hi, @donfrigo!
Can you choose the module manually in the combo-box?

[2018-06-06 20:20] #92 closed

[2018-06-06 20:43] donfrigo commented on #97
When I go to edit configurations, I have no modules under use classpath as module, if that is what you are referring to :)

[2018-06-09 21:52] TRileySchwarz commented on #88
@tsycnh We've have just written an article on how to do this.

https://medium.com/@TRileySchwarz/debugging-solidity-smart-contracts-inside-of-the-intellij-ide-5b97d857143d

[2018-06-11 03:34] #96 closed

[2018-06-11 03:34] tsycnh commented on #88
@TRileySchwarz Great Article! Solved my problem perfectly!

[2018-06-11 03:34] #88 closed

[2018-06-11 03:34] SerCeMan commented on #96
Should be fixed now

[2018-06-26 07:45] ayeteng opened #98 "Is there any tutorial to teach you how to wring smart contract by this plugin?"
I don't know where to find the Ethereum VM to set for this plugin.
Any idea?

[2018-06-26 07:46] SerCeMan commented on #98
Hey, @ayeteng! For step by step instruction, you can take a look at this video, https://www.youtube.com/watch?v=7LCHlkdibWg. It's the best tutorial I know.

[2018-06-26 07:46] #98 closed

[2018-08-07 07:18] bingozwb opened #99 "Optimize Structure"
show function, modifier and other member

[2018-08-08 23:48] fredfortier commented on #24
@SerCeMan are you guys planning to take a look at this? For me, the biggest issue is that the styling guide has this indentation scheme for multi-line functions. If you give me some pointers, I can try to make the change and submit a PR.

[2018-08-12 18:16] kincsescsaba opened #100 ""No solc installation found" error if not root"
If "Use solc from EthereumJ bundle" is checked and I'm not a root user on Linux, then I get "No solc installation found" error from IDEA. If root, no error.

[2018-08-13 09:55] kincsescsaba opened #101 ""Can't find contract ... within module .." error on IDEA"
After configuring IDEA to run with a standalone Solc I'm trying to run a contract. I set up run configuration, it let me to select the contract from the dropdown. Function dropdown was empty but it shouldn't be, as the contract has a function.
"Can't find contract .. within module .." error is dropped if I try to run it.

[2018-08-13 10:08] kincsescsaba commented on #101
UPDATE: now I can list the functions of the contract but it still can't find it if I try to run. Functions were not listed because there was an error in the contract's code

[2018-08-13 13:09] SerCeMan commented on #24
Hey, @fredfortier!

No work on this is planned at the moment. Unfortunatelly, the only hint I can give you is that you are likely to need to modify the code in this package: https://github.com/intellij-solidity/intellij-solidity/blob/master/src/main/kotlin/me/serce/solidity/ide/formatting, and the relevant tests. There is also some documentation in https://www.jetbrains.org/intellij/sdk/docs/tutor

[2018-08-13 17:18] mbolotov commented on #100
Hey, @kincsescsaba!

Are there any related errors in the logs?
Could provide them?

[2018-08-13 17:25] kincsescsaba commented on #100
This is strange, because all permissions are give on /tmp
Owner and group is root but all permissions are given with chmod 777

[2018-08-13 17:36] mbolotov commented on #101
@kincsescsaba, have you selected the module in your Run Configuration?
Again, are there any errors in the logs?

[2018-08-13 17:41] kincsescsaba commented on #101
In Run configuration settings these are set:
Contract selected, function selected
Working directory: %MODULE_WORKING_DIR%
Use classpath of module: module-name

So yes, I did select the module

[2018-08-13 17:42] mbolotov commented on #100
Exception shows it fails when trying to remove the previous solc file.
There may be a running solc process that blocks removing the file.
Could you please check the process?

[2018-08-13 17:43] kincsescsaba commented on #101
Logs:
2018-08-13 19:42:33,434 [84919512]   INFO - ij.compiler.impl.CompileDriver - COMPILATION STARTED (BUILD PROCESS)
2018-08-13 19:42:33,562 [84919640]   INFO - j.compiler.server.BuildManager - Using preloaded build process to compile /home/kincsescsaba/IdeaProjects/bitcoinmovement-rocks
2018-08-13 19:42:34,808 [84920886]   INFO - lij.compiler.impl.CompilerUtil - 	COMPILATION FINISHED (BUILD PRO

[2018-08-13 17:46] kincsescsaba commented on #100
ps aux | grep solc returns nothing

[2018-08-13 17:48] mbolotov commented on #101
I see nothing interesting in the log.
Is it possible to attach you project here?

[2018-08-13 17:56] kincsescsaba commented on #101
Here's the tarball
https://drive.google.com/open?id=1_jJYWBRqosio9u8Aigop7fzzDu8g48KN

Don't know if that can cause a problem but my IdeaProjects dir is a symlink pointing to another drive

[2018-08-13 17:57] kincsescsaba commented on #101
Example contract is under src/main/contracts

[2018-08-13 18:46] mbolotov commented on #101
I think I found the problem.
The plugin searches for contracts only in the source scope of module.
So one should mark their folder with contracts as a 'source' one:
![image](https://user-images.githubusercontent.com/19785715/44051308-2997dc14-9f42-11e8-8837-a42a0bf889fc.png)

[2018-08-13 18:51] kincsescsaba commented on #101
Thanks! Now it works

[2018-08-13 22:26] kincsescsaba commented on #100
This seems to be something EthereumJ and Linux specific. I recreated the above error with EthereumJ's SolidityCompiler class. Then I restarted the IDE as root, and the error disappeared. Privileges seem to be OK, but can't be if switching to root makes the error disappear. My understanding of Linux privileges may lack something :\

[2018-08-14 08:35] kincsescsaba commented on #100
This `sudo chmod 777 /tmp/solc` solved the problem. Both the file and the source directory needs to have the right privileges.

[2018-08-19 11:04] AVert opened #102 "Contracts should be collapsable"
Need it very much!

[2018-09-03 13:41] #99 closed

[2018-09-12 18:35] ekpyron opened #106 "Support "address payable" for upcoming solidity 0.5.0."
In solidity 0.5.0 we will introduce the ``address payable`` type, see https://github.com/ethereum/solidity/pull/4926 and https://github.com/ethereum/solidity/pull/4911. It would be great to see support for that in the intellij plugin!

The valid use cases should be apparent from the grammar https://github.com/ethereum/solidity/blob/9214c7c34f5e4501a50cb29de964bbf04131f9a3/docs/grammar.txt#L53, e.g

[2018-09-15 04:43] #102 closed

[2018-09-15 04:43] #101 closed

[2018-09-15 04:45] SerCeMan commented on #106
Thanks, support added in https://github.com/intellij-solidity/intellij-solidity/pull/107

[2018-09-15 04:52] #106 closed

[2018-09-16 17:08] ekpyron commented on #106
Great, thanks!

[2018-09-18 07:56] jchittoda opened #109 "Pickup node_modules solidity files"
Plugin should pickup solidity packages from node_modules folder. For example openzeppelin code should be picked up from node_modules folder.

[2018-09-18 12:17] 0v1se commented on #109
@jchittoda what do you mean by "pickup"?
If you rererence sol files from node_modules folder, plugin will find references correctly.
Pls, give us an example

[2018-09-18 14:48] jchittoda commented on #109
Solc does pickup and import the files present in node_module folder like this.

```import "openzeppelin-solidity/contracts/token/ERC20/StandardToken.sol";```

But if I open the .sol file having above line of imports, will show errors as plugin is not able to pick files from node_modules.

[2018-09-19 13:46] evgenynacu commented on #109
Give me an example repository if you have it.
For example, here: https://github.com/daonomic/sale/blob/master/contracts/AbstractSale.sol#L4

I import sol file from other package. It works for me

[2018-09-19 13:48] 0v1se commented on #109
Give me an example repository if you have it.
For example, here: https://github.com/daonomic/sale/blob/master/contracts/AbstractSale.sol#L4

I import sol file from other package. It works for me

[2018-09-20 06:59] jchittoda commented on #109
You can try with this project https://github.com/MainframeHQ/contracts
I am using intellij-Solidity 2.1.2

[2018-09-21 04:00] SerCeMan commented on #109
Hi, @jchittoda!

Could you please attach a screenshot of the problem, I tried the project you specified and it worked well for me,
<img width="1399" alt="screen shot 2018-09-20 at 11 59 23 pm" src="https://user-images.githubusercontent.com/1780970/45859706-5ca27d00-bd31-11e8-9066-caf3f71e4e17.png">

[2018-09-24 03:38] SerCeMan opened #112 "StackOverflowError SolResolver.resolveFunRec(engine.kt:151)"
https://sentry.io/share/issue/141f3ddd9c3e48f3bb55125ab9d37e2e/

[code]

[2018-09-24 13:30] jchittoda commented on #109
@SerCeMan Did you tried to compile the Solidity files using "Build" menu -> "Compile Solidity"? Let me know what is the output you see in Terminal.
I tried and its unable to identify openzeppelin files.

[2018-09-24 14:33] 0v1se commented on #109
@jchittoda compiling with solc is another story, it doesn't work out of the box. contract reference resolution + file resolution works.

@mbolotov could you implement correct solc compilation when contracts are in node_modules or ethpm folders?

[2018-09-24 14:44] jchittoda commented on #109
@0v1se I agree and understand that it will not pick-up directly from node_modules, As it has to be coded in the plugin to have it supported.

As the remix started supporting to pick-up files from node_modules. So thought that it should also be supported in plugin. I use the intellij solidity plugin for my projects and I appreciate your efforts in making this.

[2018-09-24 16:19] mbolotov commented on #109
@jchittoda, we've introduced the 'solc additional parameters' field in the Solidity settings.
So you can use the solc path redirects feature using "prefix=path" pattern. I successfully compiled your sample in that way.
@all : As for the direct support for 'node_modules' folder - do you think it's worth to support such a specific folder? Is it the only one that could be needed for all?

[2018-09-25 11:33] 0v1se commented on #109
@mbolotov truffle seems to be de facto standard for solidity smart contract development tool
truflle support packages from npm and ethpm:

https://truffleframework.com/docs/truffle/getting-started/package-management-via-ethpm
https://truffleframework.com/docs/truffle/getting-started/package-management-via-npm

both these are supported by the plugin (in terms of file/contract resolution)
see https:

[2018-09-25 11:42] mbolotov commented on #109
@0v1se
Okay, I'll look into this

[2018-09-26 06:35] 0v1se opened #114 "super. function calls not resolved correctly"
For example, super.fromParent2() is not resolved.

        contract Parent1 {
            function fromParent1() {
            }
        }

        contract Parent2 {
            function fromParent2() {
            }
        }

        contract Child is Parent1, Parent2 {
            function doit() {
                super.fromParent2();
            }
        }

Function calls are resolved correc

[2018-09-26 06:38] 0v1se opened #115 "References to constructor parameters are not resolved"
contract B {
            constructor(uint abc) {
                abc = 1;
            }
        }

in line `abc = 1;` reference from abc to parameter abc is not resolved
Will try to fix this

[2018-09-26 06:51] 0v1se opened #116 "new ContractName() should be resolved to contract constructor"
will try to add this

[2018-09-26 06:52] 0v1se opened #117 "References to function calls for libraries are not resolved"
For example, when I use SafeMath for uint, in `a.add(b)` add is not resolved to SafeMath.add(uint, uint)

[2018-09-26 07:21] 0v1se opened #118 "Automatically import file if contract auto-suggestion is used"
Currently, when I select auto-suggested contract name, I have to import file after. It should be imported automatically (like in Java)

will try to implement this

[2018-09-28 18:14] LionByol opened #119 "I got this error."
java.lang.Throwable: bytes32
 parent=bytes32 hashData
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:123)
	at com.intellij.psi.impl.PsiElementBase.notNullChild(PsiElementBase.java:285)
	at me.serce.solidity.lang.psi.impl.SolArrayTypeNameImpl.getTypeName(SolArrayTypeNameImpl.java:49)
	at me.serce.solidity.lang.types.InferenceKt.getSolType(inference.kt:58)
	at me.serce.solidity.lang.re

[2018-09-29 10:51] indegro commented on #119
@LionByol  Could you please provide a snippet of code that caused that error?

[2018-09-29 11:13] indegro commented on #116
Hello @0v1se I've made pull request for function completion [Req 116](https://github.com/intellij-solidity/intellij-solidity/issues/116)

Meanwhile fixed one annoying issue for me. Resolution of new contract expression to contract definition. I hope it will be merged in to master branch and be helpful for you

[2018-09-30 08:37] indegro opened #121 "Context aware keyword completion"
I would like to start work on this issue
@SerCeMan Could you please assign it to me?

[2018-10-01 06:45] 0v1se opened #122 "References to return variable should be resolved"
In this example `result` should be reference to `uint256 result`:
[code]

[2018-10-01 06:46] 0v1se commented on #122
Will fix this

[2018-10-02 19:41] #115 closed

[2018-10-02 19:41] #122 closed

[2018-10-02 19:42] #118 closed

[2018-10-02 20:14] 0v1se commented on #121
@indegro some related stuff:
if you want to have better completion, you should take into account contract inheritance.
For example, in event completion you should show events only from current contract and super contracts.
This can be done in SolCompleter.completeEventName

[2018-10-02 20:59] indegro commented on #121
Hello @0v1se !
Thanks for place for improvement. Will take it into account!

[2018-10-02 21:48] #116 closed

[2018-10-03 16:45] daviddfm opened #129 "Memory leak debugging JS via Chrome."
I have to reset the editor daily if I'm doing a lot of Chrome based Javascript debugging.  The memory monitor starts at about 500MB but eventually gets to 1500MB and everything gets super slow until I restart the editor.

[2018-10-03 23:40] SerCeMan commented on #129
Hi, @daviddfm!

Does it happen only when the IntelliJ solidity plugin turned on? If not then it's better to report the issue on https://youtrack.jetbrains.com/.

[2018-10-07 18:52] 0v1se opened #131 "Error in highlighting when function name starts with _"
![image](https://user-images.githubusercontent.com/32102012/46585566-2b3ce780-ca7b-11e8-9d07-b578b4682869.png)

As you can see, in `_preValidatePurchase` _ is highlighted as error and reference to function is not resolved correctly

[2018-10-07 22:11] SerCeMan commented on #131
Thanks, @0v1se! This was a regression after https://github.com/intellij-solidity/intellij-solidity/commit/b547b813f7022104168818342fb32efaeee5885c.

This should be fixed by https://github.com/intellij-solidity/intellij-solidity/pull/132

[2018-10-08 09:34] 0v1se opened #133 "References to vars from tuples should be resolved"
[code]

`tokens` from _getBonus(tokens) is not resolved to the `tokens` from the first line

the same applies if vars are defined as following:
[code]

[2018-10-08 22:11] #131 closed

[2018-10-13 00:52] #114 closed

[2018-10-13 01:27] SerCeMan opened #134 "Regression: `_` should be recognised"
<img width="584" alt="screen shot 2018-10-13 at 12 26 16 pm" src="https://user-images.githubusercontent.com/1780970/46899772-509a7d00-cee3-11e8-8805-c16b93c3cddb.png">

[2018-10-13 01:28] SerCeMan commented on #134
Also,
[code]

[2018-10-13 01:29] SerCeMan opened #135 "Regression: fallback functions should be recognised"
[code]

[2018-10-13 01:30] SerCeMan commented on #135
<img width="236" alt="screen shot 2018-10-13 at 12 30 11 pm" src="https://user-images.githubusercontent.com/1780970/46899798-c3a3f380-cee3-11e8-9e99-2f47375a99a0.png">

[2018-10-13 01:40] SerCeMan commented on #135
caused by #134

[2018-10-13 01:40] #135 closed

[2018-10-13 01:46] SerCeMan commented on #134
Not a regression, this obsolete syntax was never supported

[2018-10-13 01:46] #134 closed

[2018-10-13 01:49] SerCeMan opened #136 "No returns inspection should take `throw` into account"
[code]

<img width="640" alt="screen shot 2018-10-13 at 12 48 02 pm" src="https://user-images.githubusercontent.com/1780970/46899956-5ba2dc80-cee6-11e8-8cde-d1c56e9992dc.png">

[2018-10-13 02:01] SerCeMan opened #138 "Fix let parsing in the assembly block"
The following code should be parsed correctly:
[code]

<img width="338" alt="screen shot 2018-10-13 at 1 01 18 pm" src="https://user-images.githubusercontent.com/1780970/46900084-1bdcf480-cee8-11e8-8226-b2c2d6160aa4.png">

[2018-10-13 02:29] #138 closed

[2018-10-13 12:08] branaway opened #142 "web3j version"
Hi, any chance the web3j dependency upgraded to 3.6.0? The current 3.3.1 is out of date and the generated Java code won't compile with the latest 3.6.0.

[2018-10-13 16:07] branaway opened #143 "web3j 3.6.0 issue"
I was hacking around with the source code with the web3j version changed to 3.6.0.

After installed with IntelliJ-idea 2017.1 version, it reported the following error when I compiled a solidity project

loader constraint violation: when resolving method "org.slf4j.impl.StaticLoggerBinder.getLoggerFactory()Lorg/slf4j/ILoggerFactory;" the class loader (instance of com/intellij/ide/plugins/cl/PluginC

[2018-10-14 09:45] branaway commented on #143
Hi @mbolotov  thanks for the response. I changed the version to 3.6.0 in the my fork of the source code to build a copy of the plugin locally. I error was generated when I installed my version of the plugin to IDEA.  I'll check out your idea soon.

[2018-10-14 09:52] branaway opened #144 "Configure the sender when sending a transaction"
I used web3j to generate a Java wrapper to my contract. All the transaction methods were `RemoteCall`s that offered one method to invoke the function, that is the `send()`. It seems to me there is no way of specifying the sender to send the transaction. The sender seems to be the default one associated the transaction manager.  I believe the API should allow users to specify the sender at the mome

[2018-10-14 20:36] branaway commented on #143
@mbolotov  it worked very well by excluding the slf4j jar. Thanks!

[2018-10-15 19:04] 0v1se commented on #136
@SerCeMan sure, will fix this

[2018-10-15 19:15] 0v1se commented on #136
the same applies to `revert`

[2018-10-15 19:28] 0v1se opened #145 "SolResolver.resolveTypeName should be replaced with import-aware resolver"
according to https://github.com/intellij-solidity/intellij-solidity/pull/130#issuecomment-429497843

Will check where import-aware version can be used and will post PR

[2018-10-15 20:06] 0v1se opened #147 "No return inspection false positives"
[code]

![image](https://user-images.githubusercontent.com/32102012/46975303-ed6d3e00-d0ce-11e8-8c6b-f535f5c2c2c4.png)

[2018-10-15 20:18] 0v1se commented on #147
[code]
Unfortunately, case with else if and `revert` is not covered by the inspection

[2018-10-18 22:10] #133 closed

[2018-10-20 00:15] branaway opened #149 "Inherited functions not showing up in ethereumJ wrapper"
I was experimenting with the native EthereumJ Wrapper generator and noticed that the generated Java classes do not contain functions in a smart contract's super classes.

[2018-10-20 06:47] mbolotov commented on #149
@branaway thanks for this finding. I will look into it

[2018-10-20 11:39] Alexsey opened #150 "Crash report"
Stacktrace:
[code]
IDE version:
[code]

[2018-10-20 17:50] 0v1se commented on #149
Hey everyone
@mbolotov if I get correctly what is needed, then ABI json is the best way to generate wrappers: https://solidity.readthedocs.io/en/develop/abi-spec.html#json

It describes external interface of the smart contract

[2018-10-21 06:57] #136 closed

[2018-10-21 06:57] #147 closed

[2018-10-21 07:54] branaway commented on #149
One more thing is that putting all the compressed ABI and Bin in the ContractRepository is not scalable when there are large number of contracts in a project and it makes it too big to navigate.  They ABI and BIN should probably go to their respective classes.

[2018-10-21 13:18] branaway opened #152 "solc to compile only affected contracts"
Every time I use the solidity plugin to compile the project it does a full compiling of everything. It would be cool it only compiles the affected smart contracts to significantly reduce the compilation time.

[2018-10-24 16:09] 0v1se opened #154 "Better resolving of function calls"
Currently, only name and number of arguments are checked when function call reference is resolved, so functions `function test(uint)` and `function test(bytes)` look the same to the plugin

This one is WIP

[2018-10-26 00:58] #117 closed

[2018-10-27 10:06] 0v1se opened #155 "FunctionCallExpression doesn't support some cases"
for example, from here: https://github.com/kleros/kleros-interaction/blob/74c057d28d7ea7ac11e2c2ad056dd41d1ab0d3de/contracts/standard/arbitration/AppealableArbitrator.sol#L119:
`appealDisputes[_disputeID].arbitrator.appealCost(appealDisputes[_disputeID].appealDisputeID, _extraData)`

I think, the same applies to other expressions (access array item by index etc.)

[2018-10-27 10:08] 0v1se opened #156 "Wrong precedence in Expression"
`Arbitrator(msg.sender) == appealDisputes[_disputeID].arbitrator`
I think `EqExpression` should go higher than `IndexAccessExpression`

@SerCeMan, pls take a look, I'm not a pro in this

[2018-11-04 01:00] SerCeMan commented on #156
Hey, @0v1se!

Thanks for reporting this! Should be fixed in https://github.com/intellij-solidity/intellij-solidity/pull/159

[2018-11-04 01:06] #156 closed

[2018-11-09 16:03] Alexsey commented on #76
Looks like the same. Or should I open another issue?
[code]

[2018-11-09 17:08] mbolotov commented on #76
Hi, @Alexsey!
Please create another issue and provide both steps to reproduce and the plugin version.

[2018-11-09 17:53] Alexsey opened #161 "IDE exception on opening of git context menu"
1. Open IDE
2. Press `Menu` button (or right click)
3. Press `G` (or move the mouse on git)

EB: Everything should be OK
CB: IDE Exceptions indicator (on the bottom right) starts to gleam red

Plugin version: 2.1.3
IDE version: WebStorm 2018.3 EAP
Build #WS-183.4284.46, built on November 8, 2018
WebStorm EAP User
Expiration date: December 8, 2018
JRE: 1.8.0_152-release-1343-b15 amd64
JVM: OpenJDK

[2018-11-09 17:54] Alexsey commented on #150
UPD: The exception occurs on the IDE startup. No additional actions required - just start the IDE with plugin

[2018-11-09 17:56] Alexsey commented on #76
@mbolotov https://github.com/intellij-solidity/intellij-solidity/issues/161

[2018-11-10 15:37] karinchechik opened #162 "Can't mark mapping as public"
I'm using webstorm and when I wrote -

mapping (uint => uint) public age;

I got an error saying: "'public' unexpected".

[2018-11-10 19:37] mbolotov commented on #161
@Alexsey
I was unable to reproduce your issue locally, but I believe #163 will fix it

[2018-11-10 19:46] Alexsey commented on #161
Ok, I'll try after the merge and write about the results

Actually, you don't even need to open the Git submenu - the exception occurs right after the opening of the context menu

[2018-11-11 21:53] SerCeMan commented on #162
Hey, @karinchechik!

I tried to reproduce, but I wasn't able to. Which version of the plugin are you using? Could you also please attach the minimal reproducible piece of code that's not correctly parsed?

[2018-11-12 09:57] karinchechik commented on #162
@SerCeMan
Sure, I'm using version 2.1.3 of the plugin, and version 2018.2 of WebStorm.

This is the code:

`
pragma solidity ^0.4.25;

contract modifierage {
    function modifierage(){

        // A mapping to store a user's age:
        mapping (uint => uint) public age; // <= The problem is here.

        // Modifier that requires this user to be older than a certain age:
        modifier older

[2018-11-12 10:51] 0v1se commented on #162
Hey @karinchechik
You have an error in your smart contract: your mapping and function are defined inside the constructor. You should define them in the contract body

[2018-11-12 11:17] karinchechik commented on #162
@0v1se Thank you!
I didn't notice I did that.

[2018-11-12 11:17] #162 closed

[2018-11-13 08:31] jchittoda opened #164 "Event errors when _ (underscore) is parameter name"
When declaring below event, its reporting two error messages
`event TestEventName(address indexed _token, address indexed _, uint _amount);`

**Errors**
-  `'(', ';' or anonymous expected, got '('`
-  `'(', ')', indexed or payable expected, got 'indexed'`

**Behavior**

Just removing `_`(underscore), it resolve errors.
`event TestEventName(address indexed _token, address indexed, uint _amount);`

[2018-11-15 17:53] brucek commented on #150
Seeing the same on:

RubyMine 2018.3 EAP
Build #RM-183.4284.57, built on November 9, 2018
RubyMine EAP User
Expiration date: December 9, 2018
JRE: 1.8.0_152-release-1343-b15 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.1

[2018-11-15 19:35] Alexsey commented on #150
From what I see it does not affect the workflow. If you will have no better idea maybe you can just put it in the try/catch and add it to some other menu if it throws?

[2018-11-15 20:57] mbolotov commented on #150
The problem is that I see no an entry point in code where to put a try/catch in. It happens in platform initialization workflow.

[2018-11-18 19:15] mbolotov commented on #149
Hi, @branaway!
Please create a separate issue on this to not forget it.

[2018-11-21 11:48] patitonar commented on #150
I'm having the same issue:
[code]

The plugin works fine, I only see this error every time I open webstorm.

[2018-11-22 03:35] nombreinvicto opened #166 "Plugin raises exception on IDE startup"
IDE Used: Pycharm 2018.3
Build: 183.4284.139
OS: Windows 10, 64 bit

Thr following is the stacktrace of the fatal error:

[code]

[2018-11-22 04:46] SerCeMan commented on #166
Closing as a duplicate of https://github.com/intellij-solidity/intellij-solidity/issues/166

[2018-11-22 04:46] #166 closed

[2018-11-25 20:44] thevaleriemack opened #168 "Version pragma should allow comparison operators"
The pragmaAll element of the parser complains when writing a version pragma with a comparison operator to denote version range (>, <, =).

E.g.
`pragma solidity >=0.4.0 <0.6.0;`
Per [Solidity docs](https://solidity.readthedocs.io/en/latest/introduction-to-smart-contracts.html), this should be a valid form of indicating compiler compatibility with the file, as Solidity follows the semver standard:

[2018-12-08 08:31] SerCeMan opened #170 "new expression is not highlighted correctly"
Example:
[code]

[2018-12-08 08:33] #170 closed

[2018-12-08 09:02] #168 closed

[2018-12-08 09:03] #129 closed

[2018-12-08 09:31] #164 closed

[2018-12-09 09:13] SerCeMan commented on #168
Hey, @thevaleriemack! It was fixed in https://github.com/intellij-solidity/intellij-solidity/commit/7ea90de7bff71e5457ff70bbbf0d7505148c5e96. Yes, it's in the last release. You can either install it now from https://github.com/intellij-solidity/intellij-solidity/releases or wait until it's approved by JetBrains, it normally takes a few days.

[2018-12-09 14:31] thevaleriemack commented on #168
Thanks!! Sorry I totally over looked the commit # attached

[2018-12-10 12:00] SerCeMan commented on #161
Hey, @Alexsey! I believe @mbolotov crafted a fix this issue in the new [`2.1.4` release](https://plugins.jetbrains.com/plugin/9475-intellij-solidity) 🎉! Please reopen the issue if you can still reproduce the error!

[2018-12-10 12:00] #161 closed

[2018-12-10 13:21] Alexsey commented on #161
I can confirm that the bug has been fixed. Thank you!

[2018-12-11 09:01] 0v1se opened #171 "No suggestion to import sol file when casting"
For example, in `Ownable(token).transferOwnership` plugin doesn't suggest to import Ownable.sol

[2018-12-25 01:35] trifist opened #175 "Missing keyword "calldata"(version 2.1.4)"
see below:

remix ide:
![image](https://user-images.githubusercontent.com/22070288/50408751-37d60e00-0828-11e9-8f5e-e01c7de98461.png)

intellij:
![image](https://user-images.githubusercontent.com/22070288/50408769-5cca8100-0828-11e9-8f4d-8a60c2e3f6c8.png)

[2018-12-25 05:57] #175 closed

[2018-12-25 05:58] SerCeMan commented on #175
Hey, @trifist!

Thank you for the report!

[2019-01-07 12:54] SerCeMan opened #176 "SolUsingForMixin#getLibrary:232 NoSuchElementException"
https://sentry.io/share/issue/5453ff0aeb884fbe98a1e0bef1e2fa4f/

[2019-01-14 14:50] jchittoda opened #177 "Error with array parameters"
Plugin showing error when the function of this type is defined in the contract.
[code]

Error:
[code]

[2019-01-14 22:40] SerCeMan commented on #177
Hey, @jchittoda!

Thank you for the report! The issue is fixed in https://github.com/intellij-solidity/intellij-solidity/commit/5d603b81b8429d80a61e489c5ddbe730e4a39334, and the fix will be released in the next version of the plugin.

However, it would be great if you could build the latest version of the plugin from master to check if the issue is fully fixed for you!

[2019-01-14 22:40] #177 closed

[2019-01-15 09:01] 0v1se commented on #154
fixed

[2019-01-15 09:01] #154 closed

[2019-01-15 12:44] jchittoda commented on #177
Found the same error reported in another project. As the plugin expects the argument name which is optional.
[code]

[2019-01-15 12:45] jchittoda commented on #177
Thanks @SerCeMan I will wait for the next build. Thanks for fixing this.

[2019-01-17 08:46] jchittoda opened #178 "Omitted return parameters"
Below is the correct statement where `someFunction` returns 3 parameters.
[code]

Above statement gives error:
[code]

[2019-01-24 14:45] TENRUTER opened #179 "Solidity settings"
Hi,all
I am a freshman to ethereum;
pc: win10;
workspace:IDEA Ultimate 2018.3.3
when I set solidity like this and apply
![1](https://user-images.githubusercontent.com/25451308/51685576-8c3bfb80-2029-11e9-8435-d29a9bd62c35.png)
it comes "No Solc installation found".
please help me
appreciate your guidance. :)

[2019-01-24 14:47] TENRUTER commented on #179
I download the ethereumj-core from https://bintray.com/ethereum/maven/  .

[2019-01-24 16:33] mbolotov commented on #179
Hi, @TENRUTER!
It seems the 'jar' artifact does not contain the solc compiler inside.

So could you please try to download the ' ethereumj-core-1.10.1-RELEASE.zip' file from bintray, extract all the content and set the 'EthereumJ VM path' to the 'lib' directory inside the extracted archive?

[2019-01-25 08:31] TENRUTER commented on #179
ty, @mbolotov !
I tryed download the  "ethereumj-core-1.9.1-RELEASE" , and set the VM path to "lib"
like this, but it still warn.
![2](https://user-images.githubusercontent.com/25451308/51734057-56952200-20be-11e9-9fc5-b50057219aa7.png)

Will there be any other solution?
thanks anyway

[2019-01-25 09:19] mbolotov commented on #179
Oh, I just noticed you have no 'Use Solc from EthereumJ bundle' box checked. This way the plugin will use solc provided by 'Standalone Solc path' that is empty in your case.
So you can either check the box or enter a path to the standalone solc compiler.

[2019-01-26 12:16] TENRUTER commented on #179
@mbolotov thanks for your patience
I don't understand how to install a solc compiler. Hope for your guidance.

I download solidity-windows.zip from https://github.com/ethereum/solidity/releases ;
And add the directory to System environment variable.
It didn't work.

Another, I use Git getting the source code.
Still didn‘t figure it out.
Thanks again.

[2019-01-26 20:01] mbolotov commented on #179
You don't need to add any system variables.
Just add the solc path to the corresponding field:
![image](https://user-images.githubusercontent.com/19785715/51792126-50866a80-21be-11e9-8174-8f906ca48e1c.png)

[2019-01-27 00:48] TENRUTER commented on #179
@mbolotov thanks!
Finally, HAPPY to finish the Compile and Run!
Would you please show me the settings of Java interop in Solidity settings?
I wanna know how each option will affect the project, such as "base package" and "Automatically add EthereumJ dependency to each module", and "Style".
Or as I am a beginner, I could just use the default settings.
thanks a lot

[2019-01-27 02:38] #178 closed

[2019-01-27 02:39] SerCeMan commented on #178
Hey, @jchittoda!

Thank you for the report! The issue should be fixed in https://github.com/intellij-solidity/intellij-solidity/commit/18aae18170cffd43899aca466f4f77a7817c0ffa.

[2019-01-27 20:19] mbolotov commented on #179
@TENRUTER , as for the 'Java interop' options - the rule is simple: if you don't need to call solidity from java, leave the 'Generate...' checkbox not checked. I guess you don't, right?

[2019-01-28 14:59] TENRUTER commented on #179
@mbolotov
You are right, I don't need.
thx!

[2019-02-24 09:58] whcrow opened #180 "com.intellij.diagnostic.PluginException"
Hi,

My development environment is as follows,
Windows10 1809
WebStorm 2018.3.4
intellij-solidity v2.1.5

Will prompt an error after startup, What should I do? thank!

`com.intellij.diagnostic.PluginException: com.intellij.openapi.actionSystem.DefaultActionGroup (myGroupId): group with id "BuildMenu" isn't registered; action will be added to the "Other" group [Plugin: me.serce.solidity]
	at com.in

[2019-03-05 01:22] whcrow commented on #180
I see.

[2019-03-05 01:22] #180 closed

[2019-04-11 09:48] francescortiz commented on #150
Does it mean that we have to use a specific IDE to get full functionality?

[2019-04-11 16:58] mbolotov commented on #150
The exception itself does not lead to any functionality loss. It just says that the compile action will go to other menu group than expected.
But if you use an IDE without ability to run the java code (like PyCharm or WebStorm), you'll be not able to run a contract. So the answer is yes, some IDE have more functionality than others.

[2019-04-19 19:51] wbdeedcoin opened #185 "Add more language identifiers to take advantage of better color themes."
Right now I'd like to be able to change function name and class names colors. Because my Monokai theme makes the solidity file look very bland. Only 2-3 colors are used and makes coding difficult because I've spent years on Monokai in other languages.

[2019-04-25 18:44] ulope commented on #150
It may not affect the remaining functionality but it's annoying to always have the red "stuff's broken" warning icon in the status bar.

[2019-05-27 11:12] #179 closed

[2019-07-23 14:53] 4val0v opened #190 "Add support comment syntax natspec format"
Hello, not enough comment syntax support.
https://solidity.readthedocs.io/en/develop/natspec-format.html

[2019-11-26 07:00] silasdavis opened #192 "Support resolving imports from source root"
I was hoping to resolve my source-root-relative absolute import paths by marking the source root directly as a source or resource root but this does not seem to be supported. It looks like you support a couple of explicit source roots: https://github.com/intellij-solidity/intellij-solidity/blob/master/src/main/kotlin/me/serce/solidity/lang/resolve/ref/SolImportPathReference.kt

In other languages

[2019-11-26 09:55] silasdavis commented on #192
I had a go at implementing this but so far haven't got past various platform declaration clashes in kotlin

[2019-11-26 12:59] SerCeMan commented on #192
Hey, @silasdavis! It would be great if you could try to run the newly built plugin with the fix you're suggesting to verify that it behaves as expected.

What errors are you seeing with gradle when you run `./gradew buildPlugin`?

[2020-01-27 21:01] stanislaw-glogowski opened #193 "Solidity v0.6.x support"
Any plans for solidity 0.6 support?
https://github.com/ethereum/solidity/releases/tag/v0.6.2

[2020-03-05 20:58] sherazarshad813 commented on #193
second this.

[2020-03-20 21:58] shark0der opened #196 "Support continuation indent"
I'm having an issue with chained methods indentation.

Code example:
[code]

Currently, the plugin does not indent the last `.add` and keeps it at the same level as the previous line:

[code]

I've tried setting the continuation indent value to 4 in IDE settings but it doesn't seem to have any effect.

I hope this is an easy change and can be fixed soon as it's becoming really annoying to manually

[2020-06-17 08:22] krzysztof-jelski opened #197 "Plugin not compatible with IntelliJ IDEA 2020.2"
Fails with

`java.lang.NoClassDefFoundError: com/intellij/openapi/compiler/CompilerFactory`

[2020-06-17 15:18] mbolotov commented on #197
Hi @krzysztof-jelski!
I took a look into the problem. The `CompilerFactory` issue itself can be easy fixed by adding
`<depends>com.intellij.modules.java</depends>` into the plugin descriptor file.
But the problem is that there are many other api incompatibilities  when migrating from 2016 to 2020.2 platform version.
Not sure if I can fix this quickly.
@SerCeMan do you have any plans to migrate to

[2020-06-18 03:39] SerCeMan commented on #197
Hey, folks! I'll take a look in the next couple of weeks. Although, I feel like modularisation, and extracting the complier into its separate plugin would be the true north star here.

[2020-06-21 06:43] SerCeMan commented on #197
Hey, @krzysztof-jelski! The new [2.2.0](https://github.com/intellij-solidity/intellij-solidity/releases/tag/2.2.0) version supports 2020.1+. It's currently undergoing a JB review and should appear in the marketplace in the next few days. In the meantime, you can install and test it by installing the new version directly from [here](https://github.com/intellij-solidity/intellij-solidity/releases/ta

[2020-06-21 06:43] #197 closed

[2020-06-24 10:54] seniorjoinu opened #198 "v2.2.0 freezes my IntelliJ IDEA 2020.1"
I have a big solidity project (like 5k lines). After 2.2.0 update I'm no longer able to edit any of my `.sol` files - IDE just freezes when I start typing. It may unfreeze after some time, but then it freezes again.

And also task manager shows increased resources consumption for IntelliJ.

I'm on Windows 10.

[2020-06-24 11:02] SerCeMan commented on #198
Hey, @seniorjoinu! Could you attach some debugging information? It's hard to tell what could cause this without a stack or profile. You can find detailed instructions on how to collect some debugging information here: https://intellij-support.jetbrains.com/hc/en-us/articles/207241235-Reporting-performance-problems.

[2020-06-24 11:14] seniorjoinu commented on #198
Hey there! I did `jstack` when the IDE was frozen. Here are logs
https://pastebin.com/SswDm2ws

[2020-06-24 11:24] SerCeMan commented on #198
@seniorjoinu, for some reason the jstack output for the main application thread seems to be truncated. Could take a dump with `jstack -l -e` arguments? I'm not 100% sure but it might prevent the truncation.

Additionally, it seems like such a long recursion could result in a StackOverflowError. Could you check the logs of you IDE? If there's an exception, it'll shed some light on the issue.

[2020-06-24 11:32] seniorjoinu commented on #198
Looks like there is no `-e` flag for `jstack` that is bundled with my IDEA
[code]

[2020-06-24 11:41] SerCeMan commented on #198
@seniorjoinu Thanks! One of the threaddumps from the logs contains the full thread dump which shows where the recursion starts:
[code]

I'll take a look into this.

[2020-06-24 11:43] SerCeMan commented on #198
@0v1se If I understand correctly, this could be caused by one of the recent changes with resolution. Do you know off the top of your head what could result in this? If not, I'll try to dig in and see if I can reproduce it somehow.

[2020-06-25 07:43] chebykin opened #199 "... expected, got bytes32"
It seems that the new v2.2.0 can't digest `bytes32` storage declarations. This code raises an error for me:

[code]

The error is `<number type>, <type name>, constructor, enum, event, function, import, modifier, pragma, struct, using or '}' expected, got 'bytes32'`

While this code don't:

[code]

Can reproduce it on Pycharm 2020.2 EAP and IDEA 2020.2 EAP.

[2020-06-26 08:48] shark0der commented on #198
Hey! I have a similar problem. In my case the ide is not blocked but it consumes 100% CPU. To trigger it I just open .sol files. As soon as I close them - everything goes back to normal. Interestingly enough - one file gets eats up 100% cpu on a single thread, others all threads. One contract does not trigger it at all. Here're the details:

Repo: `https://github.com/NexusMutual/smart-contracts/`

[2020-06-27 04:14] #199 closed

[2020-06-27 04:14] SerCeMan commented on #199
Thanks for reporting, should be fixed in https://github.com/intellij-solidity/intellij-solidity/commit/2cbfb9e5028245e01ec2c1dab5c65c4df5da3d3e.

[2020-06-27 09:47] SerCeMan commented on #198
Hey, folks! I believe the issue should be fixed in `2.2.1`, the version is currently under review in the JB marketplace, in the meantime, you can get the new latest build from [here](https://github.com/intellij-solidity/intellij-solidity/releases/tag/2.2.1).

[2020-06-27 09:47] #198 closed

[2020-07-01 16:08] aihuawu opened #201 "rename a libray struct name, the reference in contract not work"
If you rename either library name lib, or rename struct dog,
the usage in a contract is renamed incorrectly.

returns (lib.dog memory)  // incorrectly renamed for lib.dog

If you rename lib, the lib.dog is not renamed.
If you rename dog to cat, the lib.dog is renamed to cat.dog.

///////////////////
// SPDX-License-Identifier: UNLICENSED

pragma solidity ^0.6.10;

pragma experimental ABIEncoderV2;

[2020-07-16 14:27] shark0der opened #202 "Lots of crashes since last update"
The plugin keeps crashing a lot since last update. A little red exclamation mark constantly appears in the right bottom corner:

![image](https://user-images.githubusercontent.com/528959/87682917-1a112680-c789-11ea-884e-f2c446b22c06.png)

If I open it, it prompts me to send a report to Intellij Solidity maintainers which I guess you don't have access to?

Plugin version: 2.2.1
WebStorm version: We

[2020-08-06 17:03] patitonar commented on #193
Any updates on this issue?

[2020-08-11 00:24] SerCeMan commented on #202
Hey, @shark0der! Thanks for the report, this particular issue should be fixed in the new version, please try https://plugins.jetbrains.com/plugin/9475-intellij-solidity/versions/stable/94136 :)

When you click "send a report to Intellij Solidity maintainers", it should send the exception to sentry, however, due to a bug, the stacktraces weren't actually sent correctly.

[2020-08-11 00:24] #202 closed

[2020-08-11 00:27] SerCeMan commented on #193
Hey, folks! There is initial support for 0.6 in the new version, https://plugins.jetbrains.com/plugin/9475-intellij-solidity/versions/stable/94136, you can download and try! 🚀

Please open individual issues for every separate compatibility problem that you're facing :)

[2020-08-11 00:27] #193 closed

[2020-08-12 20:33] patitonar opened #203 "Errors when using immutable keyword"
When using the `immutable` keyword the plugin reports some errors. The solidity code is a valid code and compiles correctly. If I remove the `immutable` keywords the errors disappears and the contract still compiles correctly. I'm facing this issue also with the latest v2.3.0 version

Here is an example code to reproduce this:
[code]

Screenshots with errors
![code](https://user-images.githubuserc

[2020-08-13 13:02] SerCeMan commented on #203
Hey, @patitonar! Yeah, it seems that the [grammar](https://github.com/intellij-solidity/intellij-solidity/blob/master/src/main/grammars/solidity.bnf) needs to be updated, should be a small fix.

I can quickly fix it, but do you want to give it a go instead and send a PR? I can describe the steps that you can take to resolve this :)

[2020-08-13 13:11] patitonar commented on #203
Sure! Please provide me some guidance on how to resolve this and I'll send a PR!

[2020-08-13 13:30] SerCeMan commented on #203
Awesome! You'll need the plugin setup as described in [DEVELOPING.adoc#grammar](https://github.com/intellij-solidity/intellij-solidity/blob/master/DEVELOPING.adoc#grammar).

Once you install the plugin, you'll get the highlighting with grammar. If you open Life Preview, you'll see something like the following:
<img width="987" alt="Screen Shot 2020-08-13 at 11 19 18 pm" src="https://user-images.gi

[2020-08-16 08:31] web3-guru opened #205 "Cannot cast to payable()"
When I do something like:
[code]

it gives me an error:
[code]
in the position of `payable` keyword.

<img width="374" alt="스크린샷 2020-08-16 오후 5 29 34" src="https://user-images.githubusercontent.com/68796029/90330220-15d56480-dfe6-11ea-9b95-e60a4fa0554d.png">

FYI, payable() is used to convert an `address` to `address payable` type (supported >= 0.6.0)

[2020-08-19 10:04] #203 closed

[2020-08-27 14:10] patitonar opened #206 "Errors when using interfaces types in mappings variables"
When defining `mapping` variables that uses an interface as type, the plugin reports some errors.

Here is an example code to reproduce this:
[code]

Screenshot with errors:
![code](https://user-images.githubusercontent.com/4614574/91453160-c862be00-e855-11ea-9606-5ec954b1b535.png)
![error](https://user-images.githubusercontent.com/4614574/91453174-cdc00880-e855-11ea-9544-172aa7ba1f7d.png)

[2020-08-29 03:46] #205 closed

[2020-08-29 03:46] #206 closed

[2020-09-14 11:00] cosinlink commented on #185
I can't agree more

[2020-09-19 16:57] dexcell opened #207 "lint error on override keyword (ver 2.3.1) cannot format."
<img width="388" alt="Screen Shot 2020-09-19 at 23 54 44" src="https://user-images.githubusercontent.com/41800/93672241-871ba200-fad3-11ea-9537-4a0d1f13c29f.png">

https://solidity.readthedocs.io/en/v0.6.0/contracts.html#index-17
<img width="751" alt="Screen Shot 2020-09-19 at 23 55 13" src="https://user-images.githubusercontent.com/41800/93672246-94d12780-fad3-11ea-84a7-59155b664619.png">

[2020-09-20 16:11] dexcell opened #208 "No undeclared identifier warning?"
I think this is a must, i can't believe this not exist or maybe i'm wrong?

[2020-09-27 19:18] sullof commented on #150
@mbolotov I have Ultimate but it crashes anyway. In the previous version of the IDE it was working without issues. You should take a look or, at least, suggest a work around.

[2020-09-27 19:19] sullof commented on #150
Btw, when it restart after the crash, the plugin is again disabled. There is no way to use it.

[2020-10-12 10:40] lacasian opened #209 "Plugin doesn't support solidity's `.slot` inside assembly block"
From the solidity documentation: https://solidity.readthedocs.io/en/v0.7.2/070-breaking-changes.html

The plugin shows there's an error on the `ds.slot` line but it should not.
![image](https://user-images.githubusercontent.com/8313779/95737297-2295d200-0c90-11eb-989d-f98ecc0b94d6.png)

`intellij-solidity` version: 2.3.1

Thank you for the work you are doing! 🙏🏻

[2020-11-25 22:19] hellowodl opened #210 "Function parameter types tooltip disappears after typing a comma"
The function parameter types definition tooltip disappears when a comma gets inserted into the brackets/parameters of a function execution.

[2021-01-21 16:52] patitonar opened #212 "Support state variable override"
From the solidity   [>= 0.6.0](https://docs.soliditylang.org/en/latest/contracts.html#function-overriding) public state variables can override external functions if the parameter and return types of the function matches the getter function of the variable. This applies for solidity

Example:
[code]

This scenario seems to not be supported right now, the following error is thrown in that case: `Ide

[2021-01-21 16:56] patitonar opened #213 "NoReturnInspection: support return statements in try/catch"
Similar as how it is correctly identified that a value will be returned in an `if-else` case, I think the following case using `try-catch` should be also be identified and the warning of `No return statement` should not be triggered.

![noReturn](https://user-images.githubusercontent.com/4614574/105383662-18209800-5bf0-11eb-97eb-40d05745362d.png)

[2021-02-15 00:52] #212 closed

[2021-03-10 20:34] passabilities commented on #190
Bump on this.

[2021-03-25 10:33] maximebrugel commented on #190
Need this !

[2021-04-06 09:35] NickitaX opened #215 "Solidity receive() and fallback() functions syntax"
Starting from version 0.7.6 contracts which are intending to receive ETH are required to have one of the functions below:
[code]
Currently plugin doesn't recognise it and highlights as a syntax error:
![image](https://user-images.githubusercontent.com/11023063/113690491-cecfe700-970e-11eb-96a3-565701e5966c.png)

Ping ping

[2021-05-08 03:45] SerCeMan commented on #215
Hey, @NickitaX! Please provide an example of the failing code. I can't reproduce your report.
<img width="503" alt="Screen Shot 2021-05-08 at 1 45 24 pm" src="https://user-images.githubusercontent.com/1780970/117525006-a5eb8c00-b003-11eb-8880-cff9775085ac.png">

[2021-05-08 03:46] SerCeMan commented on #209
Hey, @lacasian! Thank you for the report. The issues should be fixed with https://github.com/intellij-solidity/intellij-solidity/commit/8e9dc59accfaef191aa0fc7c880ec25141dc4445.

[2021-05-08 03:46] #209 closed

[2021-05-08 18:21] ArshanKhanifar opened #216 "error declaration isn't supported in static analysis"
Copy/pasting the [Subcurrency Example](https://docs.soliditylang.org/en/v0.8.4/introduction-to-smart-contracts.html#subcurrency-example) from solidity's docs:
[code]

This is what I see on the IDE:
![image](https://user-images.githubusercontent.com/10492324/117549428-5491cb80-b008-11eb-96fc-2b4a841cb68b.png)

Auto-indentation is also broken past that line. Compiling this file works just fine, so I

[2021-05-09 01:51] SerCeMan commented on #216
Hey, @ArshanKhanifar! The code fails to be properly highlighted because it's using recently released [custom errors](https://blog.soliditylang.org/2021/04/21/custom-errors/) which are not supported yet.

[2021-05-11 02:39] payprmoney opened #217 "Unicode strings aren't parsed correctly for solc 0.7.+"
In solc 0.7 and up, unicode strings must be identified as such: `unicode'some string with unicode'` or `unicode"some string with unicode"`.

However, this plugin doesn't support that sequence properly. It gives an error like the following:

[code]

[2021-05-11 20:58] ArshanKhanifar commented on #216
thank you @SerCeMan  for the timely response, should I close this then?

[2021-05-12 03:27] SerCeMan commented on #216
I think it's fine to keep it open, I'll close it once it's implemented.

[2021-05-15 01:26] #215 closed

[2021-06-02 15:30] SuperGNUS opened #218 "Completely unusable version"
The current version either has a memory leak or drags intellij to it's knees.

If installed, the memory keeps growing and on startup Intellij is unresponsive.  it eventually comes back for a second, but trying to type in code then makes it stop responding again.  This just started when I updated.

Disabling the plugin, resolves the issue.

I've seen this bug before in other plugins/intellij when t

[2021-06-02 15:45] GVTopCoder commented on #218
So this probably relates to the high CPU usage problem seen before. I had a couple of log files in the main code directory that were pretty big from Ganache logs.  I don't know why the plugin would be scanning those files, but I assume it's part of the VirtualDirectoryImpl part mentioned in the Issue #58

I reproduce just generate a lot of files in the directory or mine was just two big ganache.lo

[2021-06-03 09:03] Jonathan-Livingston-Seagull opened #219 "No error highlighting"
Hey guys, The errors are not being highlighted in my contract. Should I enable some config to make this works? For example, I did not declare name anywhere but I do not get any errors highlighted.

[code]

[2021-07-08 17:28] fooock opened #220 "Can't compile the project - forbidden dependencies"
I just cloned the repository and tried to build it but I got an error:

[code]

Any tip on how to proceed?

[2021-07-08 17:33] mbolotov commented on #220
https://plugins.jetbrains.com/docs/intellij/intellij-artifacts.html#third-party-dependencies

[2021-07-09 00:47] #220 closed

[2021-07-28 15:22] dyzz opened #222 "error parsing of function/receive/fallback with modifiers"
The error showed with a message:

`<state variable declaration>, constructor, enum, error, event, fallback, function, import, modifier, pragma, receive, struct, using or '}' expected, got 'receive'`

A minimum contract to reproduce as below:

![image](https://user-images.githubusercontent.com/164275/127349192-cf75cf5d-3950-4c16-bc12-99ecb2c21329.png)

![image](https://user-images.githubusercontent

[2021-08-15 22:17] benldrmn opened #223 "IDE Indexing Gets Stuck for Certain Inputs"
The following file: https://github.com/ethereum/solidity/blob/develop/test/libsolidity/syntaxTests/parsing/max_depth_reached_4.sol from the solidity project tests causes CLion indexing to get stuck as maximum recursion depth is reached during parsing and it is not handled properly by the extension.

[2021-08-23 13:11] SerCeMan opened #224 "inference: IndexOutOfBoundsException: Index: 1, Size: 1"
[code]

[2021-08-23 13:13] #224 closed

[2021-08-23 13:28] SerCeMan opened #225 "inspections: unable to extract reference name element from SolFunctionCallExpressionImpl(FUNCTION_CALL_EXPRESSSION)"
[code]

[2021-08-23 13:36] #225 closed

[2021-08-23 14:01] SerCeMan commented on #222
Hey, @dyzz! Thank you for the report, it should be fixed in the next version of the plugin.

<img width="598" alt="Screen Shot 2021-08-24 at 12 00 30 am" src="https://user-images.githubusercontent.com/1780970/130460539-c7b9204c-5178-443b-8d70-f03f67dd5bef.png">

[2021-08-23 14:05] SerCeMan commented on #207
Thank you @dexcell for reporting this! I believe it was fixed in https://github.com/intellij-solidity/intellij-solidity/pull/214, but feel free to reopen if there are any remaining issues.

[2021-08-23 14:05] #207 closed

[2021-08-26 18:45] crisgarner opened #226 "Add support for comments color scheme"
All comments are using the same background, it would be helpful to add support for natspec color scheme using tags for the comments like other languages.

[2021-08-31 18:25] patitonar opened #227 "Support functions outside of a contract"
Since solidity [0.7.1](https://github.com/ethereum/solidity/blob/develop/Changelog.md#071-2020-09-02) functions can be [declared outside of a contract](https://docs.soliditylang.org/en/v0.8.7/contracts.html#functions)

Example
[code]

Right now, the error `<contract definition>, <expression>, enum, import, pragma or struct expected, got 'function'` is displayed on the function

[2021-09-05 07:02] #227 closed

[2021-09-05 07:04] SerCeMan commented on #227
Thanks, @patitonar! The fix is on master now. I'm planning to rewrite the grammar to make it closer to [SolidityParser.g4](https://github.com/ethereum/solidity/blob/develop/docs/grammar/SolidityParser.g4) to make it much easier to stay 100% up to date with the changes. 👍

[2021-09-06 03:45] SerCeMan commented on #223
Hey, @benldrmn! Thank you for the report, it's very helpful as it immediately helps to reproduce the issue. I've taken a few stack traces, and it seems to me that the issue is related to the generate solidity parser as it gets stuck parsing.

One workaround for resolving the issue would be setting this property [`grammar.kit.gpub.max.level`](https://github.com/JetBrains/intellij-community/blob/0e2

[2021-09-06 04:46] SerCeMan commented on #223
The referenced stack trace: https://gist.github.com/SerCeMan/fa01f1049fad9f9523214cf7714abf78

[2021-09-06 06:34] SerCeMan opened #231 "Navigation/indexing support for top level constants"
Extended support for https://github.com/intellij-solidity/intellij-solidity/pull/230.

[2021-09-06 06:42] SerCeMan opened #232 "allow for receive/fallback in interfaces"
<img width="526" alt="Screen Shot 2021-09-06 at 4 41 25 pm" src="https://user-images.githubusercontent.com/1780970/132171839-761272a1-8947-45b3-a9cf-8ea611b88e03.png">

[2021-09-06 08:51] #232 closed

[2021-09-07 21:21] benldrmn commented on #223
Thanks! Let me know if there's anything I can do to help

[2021-09-11 04:37] Eouo opened #236 "The bintray link to download EthereumJ is not valid"
插件的EVM需要怎么配置, 提示我不能下载,

[2021-09-12 13:10] SerCeMan commented on #236
Hey, @iozhaq! Could you describe which exact issue you're experiencing? Also, if you could describe it in English - would be really helpful.

[2021-09-13 09:50] iozhaq commented on #236
![image](https://user-images.githubusercontent.com/22764242/133062891-a8cd1f86-018c-4f1f-a110-36dc9cbed21d.png)
![image](https://user-images.githubusercontent.com/22764242/133063025-88673b57-100c-4cd7-8d81-fc8412b9e28e.png)
How can I solve it ?

[2021-09-13 12:52] SerCeMan commented on #236
Thank you for reporting! I see the issue. [Bintray was deprecated](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/), and the URL is explicitly hardcoded here:
https://github.com/intellij-solidity/intellij-solidity/blob/c861bfff3b4e3281ae5b4dad34d6d61ead16733f/src/main/kotlin/me/serce/solidity/ide/settings/EvmDownloader.kt#L12

Unfortunately, this might not be easy

[2021-09-14 08:53] yuzixuan0722 opened #239 "Ethereumj download failed. I found a download address, but I don’t know if it is this. Can you see it?"
download address : http://estigia.lsi.us.es:1681/artifactory/libs-release/org/ethereum/ethereumj-core/1.7.1-RELEASE/
![image](https://user-images.githubusercontent.com/39270971/133226542-07655a9b-d6db-4d66-83b0-f6c2525e4de1.png)

If there is no problem with this file, can you modify the address in the code as soon as possible?
**Thanks**

[2021-09-14 09:20] yuzixuan0722 commented on #239
I downloaded the zip package locally, but if the "EVM PATH" we configured is correct, the test allows solidity to report an error.

![image](https://user-images.githubusercontent.com/39270971/133231080-634ed634-ceaf-401e-bdef-08ef5d1cd804.png)
![image](https://user-images.githubusercontent.com/39270971/133231140-3f9fcf9f-fe55-41d6-864a-49d2d551205c.png)
![image](https://user-images.githubuserconte

[2021-09-14 10:43] mbolotov commented on #239
Hi @yuzixuan0722!

Could you provide the stacktrace of error?
I tried to run a sample contract using an EVM path directory (that's when the plugin adds an asterisk) and it works okay for me.
Anyway, could you also describe your purpose when trying to use the launch contract feature of the plugin? It has some limitations and you may not really get much benefit from using it.

[2021-09-14 11:10] yuzixuan0722 commented on #239
I just wrote a simple test.
![image](https://user-images.githubusercontent.com/39270971/133246305-f1b4ad75-0e62-45fa-adef-e4b5cb8e9d83.png)

Below is the IDEA log, which contains the wrong stack information. Thank you for your reply!
[idea.log](https://github.com/intellij-solidity/intellij-solidity/files/7161337/idea.log)

[2021-09-14 12:24] mbolotov commented on #239
which version of IDE do you use?
It seems that there are some compatibility issues occurred since version 2020.1 (which I tried successfully)

[2021-09-14 12:40] yuzixuan0722 commented on #239
I use IntelliJ IDEA 2021.2.1 (Ultimate Edition)

[2021-09-14 14:32] mbolotov commented on #239
it requires some work to migrate to the new platform version, so I currently cannot debug what goes wrong.

[2021-09-14 19:21] rymkapro opened #240 "Solidity syntax for FreeTON blockchain"
Hi!
If you may know, a new FreeTON blockchain was launched a year ago.
It allows to write Solidity smart contracts but solidity language was extended a bit.
May be it would be interesting for you to write or update your plugin to support FreeTON Solidity language.

Some links for this:
[https://ton.live/landing](url)
[https://docs.ton.dev/](url)
[https://github.com/tonlabs/TON-Solidity-Compiler/bl

[2021-09-15 10:07] mbolotov commented on #239
@SerCeMan, do you have a plan to move to 2021.2 version?
I'm just tried to change the version and bumped into some compilation problems. So it's interesting how the current version could even work in 2021.2

[2021-09-15 10:36] SerCeMan commented on #239
Hey, @mbolotov! I'm planning to update the min requirement to 2020.3 later this/next month.

[2021-09-16 00:59] yuzixuan0722 commented on #239
@mbolotov  @SerCeMan  Thanks for your answers.

[2021-09-16 00:59] #239 closed

[2021-09-18 09:06] #231 closed

[2021-09-24 09:27] fredo opened #246 "Add support for brownie's eth-pm"
I'm using the plugin in pycharm 2021.2.2 (Community Edition). In my python project I'm using brownie's internal `eth-pm` to install etherem packages such as OpenZeppelin.

Brownie puts the packages per default in `~/.brownie/packages` in linux. Those are not found by pycharm when imported into my project. Compiling obviously works though but and Autofind Option would be much nicer.

Is there a way

[2021-09-25 04:00] #176 closed

[2021-09-25 04:14] SerCeMan commented on #226
Hey, @crisgarner! Thanks for reporting this! The support for natspec should be available in the next version (https://github.com/intellij-solidity/intellij-solidity/pull/247, https://github.com/intellij-solidity/intellij-solidity/pull/248).
<img width="709" alt="Screen Shot 2021-09-25 at 2 13 01 pm" src="https://user-images.githubusercontent.com/1780970/134757522-0863c137-40a2-4c75-ba27-375740c8b4

[2021-09-25 04:15] #226 closed

[2021-09-25 04:16] SerCeMan commented on #190
Hey, folks! Thanks for reporting this! The support for natspec should be available in the next version (https://github.com/intellij-solidity/intellij-solidity/pull/247, https://github.com/intellij-solidity/intellij-solidity/pull/248).
<img width="709" alt="Screen Shot 2021-09-25 at 2 13 01 pm" src="https://user-images.githubusercontent.com/1780970/134757522-0863c137-40a2-4c75-ba27-375740c8b439.png

[2021-09-25 04:16] #190 closed

[2021-09-25 04:23] SerCeMan commented on #246
Hey, @fredo! Proper support for brownie isn't trivial as it would require tampering with the project structure since `~/.brownie/packages` is outside of the project (similarly to how `~/.m2/` requires maven support). I'm not sure if this could work but a quick dirty fix could create a symlink with the name `node_modules` to "imitate" import from a `node_modules` folder. However, I'm not very famil

[2021-09-30 13:39] xonixx opened #250 "Small typo"
https://github.com/intellij-solidity/intellij-solidity/search?q=seldestruct

I guess should be "selfdestruct"

[2021-10-04 02:25] SerCeMan commented on #217
Hi, @payprmoney! Thank you for reporting, this was fixed in #217, so I'll close the issue.

[2021-10-04 02:25] #217 closed

[2021-10-04 02:32] SerCeMan commented on #250
Hey, @xonixx! Thank you for reporting, the typo was fixed in https://github.com/intellij-solidity/intellij-solidity/pull/258.

[2021-10-04 02:32] #250 closed

[2021-10-07 12:48] xonixx opened #260 "Small wording improvement suggestion"
When you hit Ctrl-P and if function has no parameters it shows `<no arguments>`

![image](https://user-images.githubusercontent.com/11706893/136386735-cc832122-fdfa-4a2d-99eb-464f44eab92b.png)

However it seems that `<no parameters>` is better text here - this is what shows for Java and Kotlin.

Why? Please see link: https://stackoverflow.com/a/1788926/104522

So technically in the example above y

[2021-10-10 12:53] ualtinok opened #261 "Remove finney and szabo and add gwei."
Since Solidity v0.7.0 finney and szabo denominations are removed, instead there's gwei denomination added.

Currently the plugin doesn't accept gwei but accepts finney and szabo.

[2021-10-11 04:49] ualtinok opened #263 "Support type(X) expressions"
Currently an expression like type(uint256).max or type(C).name cannot be used.
https://docs.soliditylang.org/en/v0.8.9/units-and-global-variables.html?#type-information

[2021-10-14 11:50] j-tesla opened #264 "Update solidity complier version"
Start with `pragma solidity ^0.8.0;` instead of `pragma solidity ^0.4.0;` like solidity docs.

[2021-10-16 05:13] SerCeMan commented on #264
Hi, @j-tesla! Thanks for reporting, this should be fixed in https://github.com/intellij-solidity/intellij-solidity/commit/92de94ad3c4456de9064388cc2fa3fdc24c69059.

[2021-10-22 16:49] cliffhall opened #266 "Comment folding is broken"
_Using the latest Webstorm IDE with latest Solidity plugin 2.3.6._

What is going on with this comment folding?

<img width="524" alt="Screen Shot 2021-10-22 at 12 35 45 PM" src="https://user-images.githubusercontent.com/871933/138492775-a140b28a-35d3-4a28-9c6b-0eb96cb4db31.png">
<img width="495" alt="Screen Shot 2021-10-22 at 12 36 02 PM" src="https://user-images.githubusercontent.com/871933/1384

[2021-10-22 18:06] cliffhall opened #267 "Can't command-click into inherited members"
_Using latest version of Webstorm and Solidity plugin 2.3.6._

Example:
<img width="732" alt="Screen Shot 2021-10-22 at 1 59 05 PM" src="https://user-images.githubusercontent.com/871933/138501602-0a680e4d-260f-42b1-b496-85fcc3fcfc0c.png">

In this example, the function `_setupRole` is inherited from `AccessControl.sol`.

I expect that cmd-click on `_setupRole` will take me to its definition. Inste

[2021-10-23 06:40] #263 closed, assigned to nobody

[2021-10-27 11:13] iFrostizz opened #271 "Import file warning"
Hey, first of all thanks for this plugin. It's definitely making my life easier.
After starting a contract inheriting from "Ownable.sol" from the OpenZeppelin library, I get an "import file" suggestion.
![image](https://user-images.githubusercontent.com/51274081/139055082-7716b952-6bb1-4c80-bbde-56886b237947.png)
It works great, but the warning doesn't stop after that the contract has been importe

[2021-11-18 21:03] apottere opened #272 "The default implementation of method 'getId' is deprecated, you need to override it in 'class me.serce.solidity.ide.run.SolidityConfigurationType$configurationFactory$1'"
Getting this error in `IntelliJ IDEA 2021.3 RC (Ultimate Edition) Build #IU-213.5744.125`, but also in many (all?) previous versions of 2021.3 EAP:

[code]

As far as I can tell, the plugin functions normally, it just throws this error every few minutes which is irritating.

[2021-11-18 22:58] SerCeMan commented on #272
Hey, @apottere! Thank you for the report, I'll take a look 👍

[2021-11-21 00:53] SerCeMan opened #274 "NoSuchElementException: List is empty."
https://sentry.io/organizations/intellij-solidity/issues/2804303421/?referrer=github_plugin

[code]

[2021-11-21 01:06] #274 closed

[2021-11-27 20:49] cliffhall commented on #267
Quick update, this bug is still present in 2.3.7. And also it seems limited to imports from `node_modules` (as was the case in the example, though I failed to point it out).

[2021-12-16 02:55] bit-void opened #277 "Naming a contract the same as an inherited interface/contract crashes IDE"
If you define a contract like this:

[code]

intellij immediately crashes. It also crashes as soon as you boot.

[2021-12-16 18:26] onatheengineer opened #278 "Solidity Plugin Crash (WebStorm 2021.2/Windows 11)"
Upgraded to Windows 11 and Webstorm 2021.2 and now can no longer use the solidity plugin..

.SOL files cannot be typed in (it will enter the character and then immediately delete anything i've typed)

Error Below
[code]

[2021-12-18 05:08] SerCeMan commented on #277
Hey, @jetaggart! Could you clarify what you mean by crashes, and if there is any way to easily reproduce this? Which IJ Solidity version, and what OS do you use? I'm struggling to reproduce the issue on the latest IJ Solidity version.

<img width="548" alt="Screen Shot 2021-12-18 at 4 08 42 pm" src="https://user-images.githubusercontent.com/1780970/146629917-8dd08a96-7bbb-46c5-913a-48301362e041.pn

[2021-12-18 05:16] SerCeMan commented on #278
Hey, @ramonajenny! Could you attach the minimal code that reproduces the issue? I haven't been able to reproduce it.

[2021-12-18 05:16] #272 closed

[2021-12-18 06:01] #271 closed

[2021-12-18 06:03] SerCeMan commented on #271
Hey, @iFrostizz! The issues should be fixed in #280. I don't have a a Windows machine readily available, so it hasn't been tested. If you could try testing by cloning the latest HEAD and running a dev build, it would be greatly appreciated.

[2021-12-18 16:26] jetaggart commented on #277
This was on MacOS, solidity 0.8.6, intellij 2021.3. The exception was a StackOverlow

[2021-12-18 17:06] iFrostizz commented on #271
Hi @SerCeMan, I've downloaded IntelliJ IDEA and cloned the repo. Then I built the plugin and opened it in an IDE for debugging purposes.
I've created a test file, with some imports. (I added the Ownable import manually)

![image](https://user-images.githubusercontent.com/51274081/146649263-753d28f7-698b-4586-b347-775bb1df09ae.png)

I'm not sure if I misconfigured anything, but the import file hint

[2022-01-03 19:30] crisgarner opened #281 "Add remapping support for Imports"
Popular development frameworks like Dapp.tools and Foundry have the ability to import libraries using remappings, allowing to have a more friendly support for imports (for example open zeppelin, chainlink or ds-test libraries).

![Screenshot from 2022-01-03 13-27-55](https://user-images.githubusercontent.com/578688/147971603-801b4401-4fe8-4a48-aec5-5a7bcea939be.png)

The problem is that there is n

[2022-01-05 16:50] bit-void commented on #277
I'm not seeing this anymore, sorry for the red herring.

[2022-01-05 16:50] #277 closed

[2022-01-17 16:18] mason commented on #281
+1 to this. also imports like these can't be located (@openzeppelin) without remapping them to a directory that contains the solidity files
[code]

[2022-01-19 05:53] sgc109 commented on #86
@SerCeMan Hi, I'm interested in implementing this feature. Can I be assigned for this?

[2022-01-19 05:56] SerCeMan commented on #86
Hey, @sgc109! Sure, you can totally go for it. I believe it'd likely involve modifying the existing completion contributors, or potentially creating new in here.
https://github.com/intellij-solidity/intellij-solidity/blob/4ac7e798c11dc0c4626c017ab418d50d32363842/src/main/kotlin/me/serce/solidity/lang/completion/keywords.kt#L23-L42

[2022-01-19 06:54] sgc109 commented on #86
@SerCeMan By the way, can you help me for IDE setup and guide for codes as stated [here](https://github.com/intellij-solidity/intellij-solidity#contribute)?

[2022-01-19 07:02] SerCeMan commented on #86
Yes, sure. Check out https://github.com/intellij-solidity/intellij-solidity/blob/master/DEVELOPING.adoc, it should cover most of the setup, but feel free to ask any questions.

[2022-01-19 07:09] sgc109 commented on #86
@SerCeMan Thank you!
When I run `Run IntelliJ` runConfiguration, there occurs following error.
[code]

[2022-01-19 07:31] sgc109 commented on #86
@SerCeMan It was resolved by updating Kotlin Intellij plugin.

[2022-01-19 09:39] sgc109 commented on #86
Never mind. I think it's about Kotlin compiler and JVM version.

[2022-01-19 12:53] sgc109 commented on #86
@SerCeMan I have a question. Can I just simply add the rest of keywords(e.g. function, modifier, ...) in 'SolKeywordCompletionContributor' and make it autocompleted on 'rootDeclaration' just like in solidity plugin for Visual Studio Code, or should only make it autocompleted inside contract?

[2022-01-29 12:21] flow3d opened #282 "Add support for multiple "" in the same string"
Useful for long strings would be to be able to define:
[code]

Currently, it breaks the editor.

[2022-01-31 14:29] mosinnik opened #283 "java.lang.IllegalStateException: unable to extract reference name element from SolFunctionCallExpressionImpl(FUNCTION_CALL_EXPRESSION)"
Plugin throw exception on next code:
[code]

Found in Balancer code https://github.com/balancer-labs/balancer-v2-monorepo/blob/master/pkg/pool-linear/contracts/LinearPool.sol#L276-L282

Exception:
[code]

[2022-02-06 07:17] #282 closed

[2022-02-06 07:17] SerCeMan commented on #282
Hey, @flow3d! This should be fixed in https://github.com/intellij-solidity/intellij-solidity/pull/284 :)

[2022-02-06 07:33] #283 closed

[2022-02-06 07:34] SerCeMan commented on #283
Hey, @mosinnik! Thank you for reporting! The error shouldn't occur anymore in the next version. 👍

[2022-02-06 16:22] #261 closed

[2022-02-12 13:40] moda20 opened #286 "File suggestion is broken on imports"

[2022-03-11 23:29] burhancabiroglu opened #287 "Autocomplete"
Autocomplete feature of extension is not working properly. For instance; solidity version 0.8.0 structure require "constructor" keyword as constructor. But extension does not suggest that keyword.
In other example; extension does not suggest "function" keyword.

[2022-03-11 23:33] burhancabiroglu opened #288 "EVM Java is deprecated"
Ethereum virtual machine repo is deprecated and completely useless.

[2022-03-21 18:46] Mouradif opened #289 "Structure stops at the contract level"
When trying to look at the code structure, it only shows the contract name.

It should at least show each contract function, and ideally, it would also show the structs, variables and events declared.

![image](https://user-images.githubusercontent.com/4118825/159342707-5d6cd665-4f7d-430a-9644-b3c50c01b6d9.png)

[2022-03-21 18:59] Mouradif opened #290 "String coloring breaks when the closing double-quote is put last"
When I write strings in my code, if I open and close the double-quotes immediately then go back one character to type my string, the string is colored correctly but when I open the double-quotes, type my string then close the double quotes, the string shows in the normal color as if it was code.

https://user-images.githubusercontent.com/4118825/159344528-8c948631-8bd4-40dd-a882-6488b656125a.mp4

[2022-03-21 19:00] Mouradif commented on #290
Additionally, if there's only one word inside the string (aka no spaces and no special characters), then it works.

[2022-03-25 09:35] hokage229 commented on #287
private public keywords too

[2022-04-11 21:56] cliffhall commented on #266
Will this ever get some love? Working in Solidity with Webstorm / IntelliJ, we need to be able to collapse comments and code blocks to get the high level overview in the same way that we do in Javascript.

[2022-04-12 10:44] burhancabiroglu commented on #236
Maybe you could use solc js vm.

[2022-04-12 10:45] iozhaq commented on #236
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-04-12 11:17] burhancabiroglu commented on #236
@SerCeMan Maybe you could use solc js vm.

[2022-04-17 09:49] HentaiOusama commented on #185
Yes. This needs to be done.

[2022-04-17 09:50] HentaiOusama commented on #185
I am willing to work on it myself if someone can guide me with how IntelliJ requires files and stuff for the recognition of code.

[2022-04-24 12:01] biddls opened #294 "setting a variable within a require statement that is to be returned gives `Return variable not assigned`"
this is code from [here](https://github.com/Rari-Capital/solmate/blob/main/src/mixins/ERC4626.sol) edited a bit by me but i havent touched the line in question. You can see that `shares` has been set within the require statement but when parsing the code it does not recognise that as an assignment of the variable

[code]
So I'm wondering that this might have been missed and needs to be added so th

[2022-04-25 00:02] mosinnik opened #295 "Need update plugin for 2022.1 IDEA"
After moving to 2022.1 IDEA version got next exception periodically:

[code]

[2022-05-01 03:35] SerCeMan commented on #294
Hi, @biddls! Thanks, this case might have been missed. For now, you can also disable the inspection completely.

[2022-05-01 03:36] SerCeMan commented on #295
Hi, @mosinnik! Does the error pop up randomly or is there a stable way to reproduce it?

[2022-05-01 07:12] ceo-domido opened #296 "Solidity plugin breaks markdown code block syntax highlighting"
If the solidity [plugin](https://plugins.jetbrains.com/plugin/9475-solidity ) is enabled, syntax highlighting disappears in markdown fenced code blocks.
I did not notice how it happened the first time, but this issue is reproducible further.
How to reproduce:
- install Webstorm (tested on 2022.1 version)
- create test.md file
- create a fenced code block, e.g.
[code]
- install and enable the solid

[2022-05-01 20:32] GVTopCoder commented on #295
Seems to do it every time for me.  Just opened up a project in webstorm.

[2022-05-01 20:41] php4fan opened #297 "Syntax highlight is completely broken"
![image](https://user-images.githubusercontent.com/13969584/166163760-f139a90b-7696-4199-a54a-e97dd2096d84.png)

Look at the two strings that are not highlighted in green as strings (unlike the first one which is, as expected).

[2022-05-01 20:56] php4fan commented on #297
Also see this: https://youtrack.jetbrains.com/issue/WI-66479/Plugin's-Syntax-highlight-changes-after-deleting-and-re-typing-s

[2022-05-01 20:57] php4fan commented on #297
The highlight gets fixed if I delete and re-type the opening quote.

[2022-05-01 20:57] GVTopCoder commented on #295
Rolled back to WebStorm 2021.3.2 and it works fine.  Seems Jetbrains may have reintroduced this bug, which they fixed in a later EAP.

https://github.com/jimkyndemeyer/js-graphql-intellij-plugin/issues/115

Seems they fixed it by "there's a general suggestion that all the reference resolution logic should be moved to doAnnotate method as apply is supposed to be fast and simple. That move should re

[2022-05-05 15:03] baozidoufugan commented on #236
Can't Solidity integrate solidjs directly? Do I have to use solcjs through external tools?

[2022-05-05 15:03] iozhaq commented on #236
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-05-08 00:36] mosinnik commented on #295
@SerCeMan almost every each new solidity file open to edit

[2022-05-08 00:40] mosinnik commented on #297
I think duplicate https://github.com/intellij-solidity/intellij-solidity/issues/290

[2022-05-08 09:49] php4fan commented on #290
It's not only strings. Multi-line comments also sometimes result in completely broken syntax highlights. I haven't figured out exactly how to reproduce systematically, but it depends on the order in which you type things. If I type the opening and closing `/* ... */` as quickly as possible and then go in and complete the comment, I usually prevent it from happening. And I can fix it a posteriori b

[2022-05-09 10:46] bglmmz opened #298 "Cannot download EthereurmJ VM"
intellij-solidity plugin version: 2.3.8

it seems that the URL is broken.

![solidityPlugin](https://user-images.githubusercontent.com/9315278/167394873-b3636053-28b1-4447-9690-53760390233f.png)

[2022-05-09 11:01] SerCeMan commented on #288
Hi, @burhancabiroglu! Thanks for raising this, the issue was also raised in https://github.com/intellij-solidity/intellij-solidity/issues/236, so I'll close this is a duplicate.

[2022-05-09 11:01] #298 closed

[2022-05-16 04:17] SerCeMan commented on #297
Thanks, I'll close this as a duplicate of https://github.com/intellij-solidity/intellij-solidity/issues/290. For the issue itself, I started looking into the issue but I haven't been able to figure out the right solution yet.

[2022-05-16 04:17] #297 closed

[2022-05-16 19:24] cliffhall commented on #266
Any hope @SerCeMan? For teams who do proper inline documentation, this is a thorn in the side. And it looks positively ridiculous to anyone who attempts to use the functionality. It would be better to just remove the disclosure widgets altogether.

[2022-05-18 10:49] KushGoyal opened #299 "getting this error several times when using search"
This error comes when I use find in files feature.

[code]

[2022-05-20 20:25] kovalevvlad commented on #281
same here. OpenZeppelin imports are marked as missing

[2022-05-21 04:33] dawnkie opened #301 "HELP! I really want to use it!"
In IntelliJ, I've been installed `solidity-plugin` for a whole year, but I nerver know how to use it. I don't know how to config it -- I tried to download all kinds of ethereumJ, but I always got in trouble. I tried to find a document for configuration, nothing, I got nothing. I really want to use it, please give me a hit. (In the past year, I only know using `solidity-plugin`  for reading, this i

[2022-05-21 09:57] SerCeMan commented on #301
Hi, @dawnkie! Unfortunately, EthereumJ is not supported anymore and can't be used. However, you can still use the plugin without running the contracts from IntelliJ. As for general workflow, this video tutorial might be useful – https://www.youtube.com/watch?v=7LCHlkdibWg, although please note that a lot of tooling has changed since 2017.

I'll close this issue as a duplicate of https://github.com

[2022-05-21 09:57] #301 closed

[2022-05-21 09:58] SerCeMan commented on #299
Hi, @KushGoyal! I believe this is a duplicate of https://github.com/intellij-solidity/intellij-solidity/issues/295, I'm still trying to launch the plugin with the new version of IJ to fix the issue – there are some problems with launching the dev environment in 2022.1.

[2022-05-21 09:58] #299 closed

[2022-05-22 08:40] mehr-licht commented on #236
How do we configure the EVM!?
The issue is closed but nothing was fixed and no alternative given!?

[2022-05-22 08:47] SerCeMan commented on #236
Hi, @mehr-licht! Yes, that's correct. There is no way to configure Solidity tooling from the IDE only. The plugin, however, can be used in conjunction with any other available frameworks.

[2022-05-22 10:01] #295 closed

[2022-05-27 04:08] artdgn opened #306 "Hanging on code changes in latest version (unreleased) introduced in #304"
I'm building from source and loading plugin from disk (in order to utilise #300), but it seems to be causing IntelliJ to hang for several seconds at a time during code edits.

Haven't observed this hanging in the official released version 2.3.8 I was initially using. Went back and forth between the versions and can confirm that the hanging is just with the new version.

Is it possible that it's ca

[2022-05-27 05:07] SerCeMan commented on #306
Hey, @artdgn! Could you attach a CPU profile which might shed some light on the issues you're observing?

<img width="692" alt="Screen Shot 2022-05-27 at 3 06 33 pm" src="https://user-images.githubusercontent.com/1780970/170633118-85d394c6-71ba-4a75-8860-f4447e1c4bbb.png">

Would you also be able to test if the same behaviour is observed with https://github.com/intellij-solidity/intellij-solidity/

[2022-05-27 05:36] artdgn commented on #306
@SerCeMan
This is what I'm seeing with with the activity monitor (I don't have all the other options you have in your screenshot, I'm guessing it's a pro version or smth)
![image](https://user-images.githubusercontent.com/29574203/170636382-7616ff31-80dc-44db-b2b7-abdbcf4c709d.png)

[2022-05-27 05:39] artdgn commented on #306
I can get the hanging to trigger during highlighting, but sometimes I just see the CPU spike with no hanging (UI still responsive).

The surest way I can trigger for now it with is editing a highlighted function call element.

[2022-05-27 05:44] SerCeMan commented on #306
Thanks, seeing the below confirms the suspect. I'll take a look at making changes there so that highlighting doesn't depend on resolver. Thanks for reporting.

<img width="649" alt="Screen Shot 2022-05-27 at 3 43 57 pm" src="https://user-images.githubusercontent.com/1780970/170637644-dd8d86e7-aa6e-41e8-bbf2-05daf868dd4f.png">

[2022-05-27 06:12] artdgn commented on #306
@SerCeMan The earliest commit where I can repro the issue is actually 06b66d5fc31d99f36d4fc120b6cb03a2a7d607d7 merging #304

[2022-05-27 06:21] artdgn commented on #306
Can confirm that cherry-picking #300 on top of #303 (without taking #304) doesn't hang.

[2022-05-28 04:59] SerCeMan commented on #306
Hi, @artdgn! Yes, it might not be bundled by default. Would you be able to install the plugin as [described here](https://intellij-support.jetbrains.com/hc/en-us/articles/207241235-Reporting-performance-problems#CPU_Snapshot_2019_2) and attach the profile?

<img width="910" alt="Screen Shot 2022-05-28 at 2 50 18 pm" src="https://user-images.githubusercontent.com/1780970/170810473-5f4d3776-bc4a-4cd

[2022-05-28 06:01] artdgn commented on #306
@SerCeMan I'll try to this and maybe create a minimal repro code snippet when next week. For now what worked for me is cutting out the changes made in #304 (that aren't related to syntax highlighting rules) by removing that commit and rebuilding. I'm not sure why [that code](https://github.com/intellij-solidity/intellij-solidity/pull/304/files) causes this but it's worth to think how that code may

[2022-05-28 08:07] SerCeMan commented on #306
I think I found a way to reproduce it, the interesting part is that it's only reproducible on 2022.1.1+.

[2022-05-28 08:41] SerCeMan commented on #306
Hey, @artdgn! Could you check if https://github.com/intellij-solidity/intellij-solidity/pull/308 fixes the issue for you? I can't reproduce it anymore with the change applied.

[2022-05-28 09:09] artdgn commented on #306
@SerCeMan yep looks great, had no issues! Thanks for the quick fix, and the great plugin!

[2022-05-28 09:09] #306 closed

[2022-06-08 17:14] GVTopCoder opened #309 "Stack Overflow"
Submitted an issue in the IDE don't know if you get those or not.

The newest version is getting a stack overflow now under the progress bar implementation.

Let me know if you want the stack dump here or you can get it from the Jetbrains reporting system?

[2022-06-12 06:45] SerCeMan commented on #309
Hey, @GVTopCoder! Thanks for reporting. I haven't encountered this issue in my testing yet. Do you have a snippet that I can use to reproduce the issue by any chance?

[2022-06-13 14:42] GVTopCoder commented on #309
Hi, this is the project and it does have all the npm packages installed, so not sure if that is causing it.  temporary branch for you to look at it also.

https://github.com/GeniusVentures/gnus-ai/tree/temp-develop

[2022-06-13 15:45] GVTopCoder commented on #309
Hi this is definitely a bug in the plugin and look at the TransferBatch.sol file and the stack overflow happens.  The contract is the same name as an Event and I suspect it's having a problem with that as if I rename the contract and file to ERC20TransferBatch.sol the error disappears.

[2022-06-25 14:34] vallemar commented on #287
the same here, it needs to complete many things I think. It also doesn't autocomplete uint variations.

[2022-06-30 17:23] jpiabrantes commented on #281
I see this was merged, but I still can't get `remappings.txt` to work. I am on version 2.3.9.

[2022-07-08 05:37] abancu commented on #281
this is because that was not implemented, it is work in progress, hopefully, I am also looking for it but I can't see any other activity towards this in the WIP fork... https://github.com/dyzz/intellij-solidity/commits/master

[2022-07-09 05:43] ajianggood opened #310 "How can syntax highlighting be the same as remix?"
How can syntax highlighting be the same as remix?

[2022-07-12 05:53] kevupton commented on #310
That is the only thing that this plugin needs. Some better syntax highlighting (remix level). Once it has achieved that, it is by far the best solidity dev environment. 🙏  nice work to the creator 💪

[2022-07-12 11:45] aashborn commented on #281
I also use Foundry and I also have the problem with import navigation.

[2022-07-16 05:13] SerCeMan commented on #310
Hey, @ajianggood @kevupton! When saying like remix, do you mean the colour scheme, or something else? A concrete example might help a lot.

[2022-07-16 08:04] SerCeMan commented on #309
Thanks, @GVTopCoder! I was able to reproduce, I'll look into it.

[2022-07-17 12:38] SerCeMan commented on #309
@GVTopCoder thanks for reporting and providing a reproducer 🚀, a change in #311 should fix it.

[2022-07-17 13:26] #309 closed

[2022-07-21 10:28] WarrenPanDDDD commented on #185
Add more colors plzzzzzzzz!

[2022-07-21 21:26] mosinnik opened #312 "commas variable error highlight false-positive"
Error highligh at
https://github.com/aave/aave-v3-core/blob/d1876f3824e6773343e5be7df5f9ccca34b25f29/contracts/protocol/libraries/logic/ValidationLogic.sol#L509

between comma and `vars.collateralReservePaused` :

![image](https://user-images.githubusercontent.com/3997045/180317995-f908d117-a7eb-4d17-af9e-48a94fa5d9a8.png)

[2022-07-22 11:41] zeroarst opened #313 "Can the comment not be on the first column?"
When I comment out the code
![image](https://user-images.githubusercontent.com/1834837/180431891-09858d4f-b16b-4410-8202-e8f48dd758a6.png)

It adds to the first column
![image](https://user-images.githubusercontent.com/1834837/180431577-2bbf7572-a295-4842-808e-cdc6e4426dcd.png)

But what I expect is like this
![image](https://user-images.githubusercontent.com/1834837/180431780-48d08c3f-b0e7-4cf3-b

[2022-07-23 05:30] zeroarst opened #314 "structue has no indent after formatting the code."
What is current behavior:
![image](https://user-images.githubusercontent.com/1834837/180591871-0dcc1a54-0d52-4d9a-9c46-5d3b9a430e71.png)
![image](https://user-images.githubusercontent.com/1834837/180591884-71137496-0c73-4e55-8c9b-5ddde7d56927.png)
![image](https://user-images.githubusercontent.com/1834837/180592020-1cba00e7-d642-413b-b84c-f31bf3d32004.png)

What is the expected behavior:
![image](

[2022-07-23 07:52] julesGoullee opened #315 "support single-quoted unicode"
In opposit to https://github.com/intellij-solidity/intellij-solidity/issues/217, unicode support hasn't been fixed, still as described in this issue.

[2022-07-23 08:15] chrisffm opened #316 "Error when using fallback function with data"
When I add a fallback function to my contract, which receives and returns data, I get an error.

`fallback(bytes calldata _input) external returns(bytes memory)` leads to the following error:

`<state variable declaration>, constructor, enum, error, event, fallback, function, import, modifier, pragma, receive, struct, type, using or '}' expected, got 'fallback'`

while `fallback() external` works

[2022-07-23 08:21] chrisffm commented on #310
One thing I like about remix is the error highlighting but might be hard to implement as it only shows after compiling the contract

[2022-07-23 09:50] julesGoullee commented on #316
Update:
`unicode'😀'` is badly interpreted and `unicode"😀"` work.

[2022-07-23 13:02] mattsse opened #317 "indexing conflict with rust-intellij plugin"
as discovered here

https://github.com/intellij-rust/intellij-rust/issues/9008

Having a rust dependency that has solidity fixtures can result in a hung indexer.

this happens with the https://github.com/hyperledger-labs/solang project

disabling the solidity plugin resolved the issue so perhaps the problem is somewhere in this plugin's indexer?

this also happens with plugin built from master

[2022-07-24 09:14] SerCeMan commented on #315
Hey, @julesGoullee! Could you provide a test case so that I can understand what is not working?

[2022-07-24 09:16] SerCeMan commented on #315
Ah, I see, you left a comment in https://github.com/intellij-solidity/intellij-solidity/issues/316#issuecomment-1193097620, I'll take a look.

[2022-07-24 09:18] julesGoullee commented on #315
Hey,
`unicode"😀"` looks correct, and `unicode'😀'` is badly intepreted

<img width="555" alt="Screenshot 2022-07-24 at 11 18 21" src="https://user-images.githubusercontent.com/6892100/180640556-9cc436c8-fdd0-433f-b1bc-2d100c689430.png">

[2022-07-24 10:01] #315 closed

[2022-07-24 10:03] julesGoullee commented on #315
Awesome thx!

[2022-07-24 10:43] #316 closed

[2022-07-24 10:43] SerCeMan commented on #316
Hey, @chrisffm! Thank you for reporting, this should be fixed in https://github.com/intellij-solidity/intellij-solidity/pull/319.

[2022-07-24 12:06] adrian-pusty opened #320 "Error: Cannot show diff (git)"
(IntelliJ IDEA 2021.3.2 (Community Edition)) → Git → Log → {double click on .sol file}
![solidity_plugin_issue](https://user-images.githubusercontent.com/51136868/180646005-8c608335-2ea5-4057-a9da-6fec28325fa5.png)

In my case I had to disable solidity plugin to be able to show the diff (I checked it because of the [answer](https://intellij-support.jetbrains.com/hc/en-us/community/posts/3600033132

[2022-07-25 11:05] SerCeMan commented on #320
Hey, @adrianpusty! Could this be an issue with your local setup? I can't reproduce it.
<img width="1860" alt="Screen Shot 2022-07-25 at 9 03 34 pm" src="https://user-images.githubusercontent.com/1780970/180763077-64c7fd8e-ce9c-4153-8759-344b51443833.png">

Potentially, looking through [IJ logs](https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files) for errors si

[2022-07-26 20:41] lebed2045 commented on #314
I can confirm the same issue. Perhaps at least some .editorconfig settings would be nice to have.

[2022-07-27 21:10] tomasz90 commented on #310
My comment is not about remix like highlighting but overall highlighting issues.
I would say that function invocations should be yellow instead of light grey. This would be much easier to read. I see that only functions declaration are yellow and most of the code is light grey.

[2022-07-30 21:25] adrianpusty commented on #320
Thanks for the reply @SerCeMan.
Not sure, maybe it's a problem with my local setup.
This seems to be the log which corresponds with the issue (strangely, the problem does not occur with every .sol file that I check in the "Log" tab.):
<pre>
2022-07-30 23:10:22,449 [1278060]  ERROR - diff.impl.DiffRequestProcessor - Unexpected termination offset for lexer FlexAdapter for me.serce.solidity._Solidity

[2022-07-31 11:15] SerCeMan commented on #320
Thanks! Could you attach a couple of minimal files that can reproduce the issue?

[2022-08-01 19:15] adrianpusty commented on #320
Will it be enough if I paste a link to [one of the commits](https://github.com/adrianpusty/cryptozombies/commit/7d2fb693c95d067196a1dd41956ec45b5df6a493) for which the problem occurs? (there is only one changed file in this commit)
I checked this commit on another machine and can't see diff there either.
I wonder if the ability to display diff might depend on whether the sol file is badly formatte

[2022-08-02 14:29] julesGoullee commented on #315
@SerCeMan I have bad news, the fix creates a side effect. You can test by yourself by changing the double quote here https://github.com/hydnsec/hydn-seal/blob/master/contracts/HYDNSeal.sol#L38, it creates a syntax error here https://github.com/hydnsec/hydn-seal/blob/master/contracts/HYDNSeal.sol#L85

[2022-08-05 20:25] VlodkoMr commented on #314
Hello, also waiting to some solution...

[2022-08-08 10:27] aminlatifi commented on #281
@dyzz This feature will be a great help for devs using foundry. Do you have any estimate for its release time?

[2022-08-08 23:33] kevupton commented on #310
I notice that the vscode plugin has this error underline as well, which is actually quite nice.

[2022-08-08 23:39] kevupton commented on #310
Here is an example of remix highlightings. Take nots of each of the highlighted red sections and compare with the second image
![image](https://user-images.githubusercontent.com/2093615/183532438-61969bcd-f4d9-4071-b13a-3de673dc5077.png)

![image](https://user-images.githubusercontent.com/2093615/183532530-ab0ffad8-c2e8-4795-be3f-ef75cc2d067f.png)

[2022-08-09 00:14] kevupton opened #321 "Destructuring inside a Try Catch block shows error"
This error only happens when values are destructured from a method call inside a try catch block

[code]

This block of code shows an error in the editor,

![image](https://user-images.githubusercontent.com/2093615/183535608-75e148a7-7cc0-45e3-89e6-7d0821a5e0e4.png)

But compiles ok.
![image](https://user-images.githubusercontent.com/2093615/183535635-333be747-7261-43cf-80f8-be136db01aad.png)

It

[2022-08-09 04:16] dyzz commented on #281
I will try to finish the support for remappings.txt. I'm also facing navigation issues every day.

[2022-08-18 15:44] mattsse commented on #317
this hasn't happened in a while, at least for me, perhaps this just doesn't happen anymore with a newer solang-parser release.
but when it did, I was able to work around this by deleting all sol files from `External Libraries/solang-parser/...` in the project view

[2022-08-18 15:48] moh-eulith commented on #317
It's happening with solang-parser 0.1.17 (latest) for me. I'll try deleting those file. Thanks for the hint. Right now, I have to alternately enable/disable either rust or solidity.

[2022-08-20 12:59] godtaehee opened #322 "Any Prettier in it?"
Hello, Thanks to developing awesome plugin.

but Does it have Prettier which can help arrange solidity code???

[2022-08-21 13:30] farwayer opened #323 "Stand-Alone Yul support?"
Thank you so much for a cool plugin!
How about adding support stand-alone `.yul` files? As I understand it, basic syntax support is already implemented. That would be great.

[2022-08-29 15:21] apottere commented on #322
You can do that with external tools: https://github.com/prettier-solidity/prettier-plugin-solidity

[2022-09-03 06:40] SerCeMan commented on #317
Hey, @moh-eulith! Can you still reproduce the issue with the latest IJ solidity plugin (2.3.10)?

[2022-09-03 13:33] moh-eulith commented on #317
@SerCeMan Yes, with both the latest Rust (0.4.177.4844-222) and Solidity (2.3.10) plugins, this problem still occurs. The workaround (deleting the `testdata` folder under the `External Libraries/solang-parser 0.1.17/solang-parser-0.1.17` also avoids the issue by removing the offending file, which is apparently not really needed).

[2022-09-18 08:13] crypto-only opened #328 "Can't find unused imports"

[2022-09-24 11:58] Minh-Trng opened #329 "Incorrect parsing of this multiline-comment-style"
multiline-comments of the following style are syntactically correct, but lead to parsing and code navigation being broken

[code]

[2022-09-30 18:24] Mododo commented on #240
There is a fork that supports Everscale (formerly FreeTON) Solidity flavor.
https://github.com/Skydev0h/intellij-solidity/releases

[2022-10-11 05:57] lephyrius commented on #236
Why not just remove this option to stop the confusion?

[2022-10-22 10:04] eden91940 opened #330 "Enhance Structure Menu"
Epic to complete Structure Menu for Solidity File (Java-like) :

- show function with a filter by visibility (external, internal etc)
- show variables, mappings etc with a filter by visibility  (public, private...)
- show events ?

![image](https://user-images.githubusercontent.com/649110/197333424-634607ca-790b-4a46-a4de-5e4c620fb715.png)

[2022-11-03 20:26] androolloyd commented on #281
Any update on this, happy to kick in some ETH towards a bounty.

[2022-11-04 02:45] dyzz commented on #281
finally got some time to work on this.
One dirty hack to my mind is adapting to different directory schemes of popular projects. e.g. searching code from both "/src/" and "/contracts/". This might helps to work out-of-box without "remapping.txt".
The goal is still to fully support "remapping.txt".

[2022-11-04 12:19] androolloyd commented on #281
I think the core part of the issue is that we can't adopt our own import flow like for instance we remap ./src to core so that our imports many folders deep are clean but no navigation makes a same man cry.

[2022-11-11 09:30] ser0ja opened #335 "Syntax for Everscale (TON) blockchain"
<img width="260" alt="image" src="https://user-images.githubusercontent.com/5020923/201310079-d52647fb-fd53-4436-ba8d-7d2cb6017931.png">
<img width="271" alt="image" src="https://user-images.githubusercontent.com/5020923/201310734-9eca7d96-8916-4208-9a66-bb0b5d955bfb.png">
<img width="254" alt="image" src="https://user-images.githubusercontent.com/5020923/201310777-13e8bf78-6b4e-4fca-be4f-e8c28bc0

[2022-11-12 08:02] astralblue commented on #329
+1.  farcasterxyz/contracts use this syntax.  Workaround: Replace `/*//` -> `/* /` and `//*/` -> `/ */`